@import "../../components/variables";
@import "../../components/mixins";
.sm_menu_toggle {
	padding: 2px;
	border: none;
	position: relative;
	padding: 0;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	span {
		display: block;
		margin: 2px auto;
		width: 14px;
		height: 2px;
		background-color: #000;
	}
}

@media (max-width: 1024px){
	.elementor-header {
		.sm_menu {
			display: none;
		}
		.sm_menu.open {
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			background-color: #fff;
			z-index: 3;
			height: auto;
			overflow-y: auto;
			padding: 100px 0 40px;
			display: block;
			max-height: 100%;
			&:before {
				content: '';
				display: block;
				left: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: auto;
				position: fixed;
				z-index: -1;
				background-color: rgba(0, 0, 0, .2);
			}
			&:after {
				content: '';
				display: block;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: -1;
				background-color: #fff;
			}
			.close-menu {
				display: inline-block;
				position: absolute;
				top: 40px;
				right: 20px;
				cursor: pointer;
				width: 40px;
				height: 40px;
				z-index: 3;
				&:before, &:after {
					content: '';
					width: 25px;
					height: 1px;
					background-color: #000;
					display: block;
					position: absolute;
					margin-top: 20px;
					margin-left: 8px;
				}
				&:before {
					transform: rotate(45deg);
				}
				&:after {
					transform: rotate(-45deg);
				}
			}
			nav {
				display: block;
				overflow: hidden;
				padding-bottom: 15px;
				background-color: #fff;
				.sm_nav_menu {
					li {
						width: 100%;
						text-align: left;
						padding: 4px 30px !important;
						background-color: #fff;
						a {
							font-size: 24px;
							line-height: 32px;
						}
						.arrow {
							float: right;
							display: inline-block;
							padding: 0 0 0 15px;
							i {
								transition: .3s;
							}
							&.active {
								i {
									transform: rotate(90deg);
								}
							}
						}
						.sub-menu {
							position: relative;
							display: block;
							width: 100%;
							padding-top: 4px;
							display: none;
							opacity: 1;
							visibility: visible;
							transition: 0s;
							li {
								background: none;
								padding-right: 0 !important;
								a {
									color: inherit !important;
									font-size: 18px;
									line-height: 18px;
									padding-left: 5px;
									display: inline-block;
									width: auto;
									&:before {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
//---------header-nav-start------------>

.elementor-header {
	.sm_nav_menu {
		list-style: none;
		padding: 0;
		margin: 0;
		a {
			font-size: 19px;
			font-weight: 500;
		}
		& > li {
			display: block;
			float: left;
			position: relative;
			@media (min-width: 1025px){
				&:last-child {
					padding-right: 0 !important;
				}
			}
			.sub-menu {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top: calc(100% - 20px);
				list-style: none;
				padding: 20px 0 0 0;
				margin: 0;
				width: 280px;
				text-align: left;
				transition: .3s;
				li {
					background-color: #000;
					padding: 0 5px;
					a {
						padding: 5px 15px;
						width: 100%;
						display: block;
						font-size: 15px;
						border-bottom: 1px #ffffff33 solid !important;
						position: relative;
					}
					&.menu-item-has-children {
						& > a {
							&:before {
								content: "\f105";
								font-family: 'FontAwesome';
								position: absolute;
								top: 13px;
								right: 15px;
							}
						}
					}
				}
			}
		}
		li:hover {
			& > .sub-menu {
				opacity: 1;
				visibility: visible;
				top: 100%;
			}
		}
		.sub-menu {
			.sub-menu {
				left: 100%;
				top: 0 !important;
				@media (max-width: 1024px){
					left: 0;
				}
			}
		}
	}
}

//------nav-end-------->