.more-events {
	color: #000;
}
.upcoming-events {
	.upcoming-text {
		padding-top: 27px;
		margin-bottom: 50px;
		h2 {
			margin-top: 0;
			margin-bottom: 24px;
		}
		.more-events {
			border-bottom-width: 2px;
			border-bottom-style: solid;
			font-size: 21px;
			padding-bottom: 3px;
		}
		.event-description {
			color: #515254;
		}
	}
	.upcoming-event-list {
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
		.upcoming-event-wrap {
			flex: 0 0 33.3%;
			width: 33.3%;
			padding: 0 15px;
			.upcoming-event {
				& > a {
					display: inline-block;
					position: relative;
					&::before {
						content: '';
						display: block;
						width: auto;
						height: 8px;
						position: absolute;
						left: 8px;
						right: 8px;
						bottom: -8px;
						background: rgba(0, 0, 0, .3);
						opacity: 0;
						transition: .3s;
					}
					&::after {
						content: '';
						display: block;
						width: auto;
						height: 16px;
						position: absolute;
						left: 16px;
						right: 16px;
						bottom: -16px;
						background: rgba(0, 0, 0, .3);
						opacity: 0;
						transition: .5s;
					}
				}

				&__image {
					transition: .3s;
					&::before {
						content: '';
						display: block;
						width: 100%;
						height: 120px;
						position: absolute;
						left: 0;
						bottom: 0;
						background: #ffffff;
						background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
						background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
						background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
					}
					&.has-image {
						&:hover {
							box-shadow: 0px 21px 65px 0px rgba(0, 0, 0, 0.35);
						}
						.upcoming-event-meta {
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							z-index: 2;
							.event-title {
								color: #fff;
								text-align: left;
							}
						}
					}

					.upcoming-event-meta {
						padding: 30px 30px 40px 30px;
						transition: .3s;
						.event-title {
							text-align: center;
							font-size: 19px;
							text-transform: uppercase;
							line-height: 20px;
							transition: .3s;
						}
						.event-date {
							text-transform: uppercase;
							color: #000;
							position: absolute;
							padding: 10px 12px;
							line-height: normal;
							left: -15px;
							bottom: 20px;
							min-width: 60px;
							text-align: center;
							transition: .3s;
							opacity: 0;
							& > span {
								display: block;
							}
							.day {
								font-size: 30px;
								line-height: 30px;
								font-weight: 600;
							}
							.month {
								font-size: 15px;
								line-height: 15px;
							}
							.year {
								font-size: 13px;
							}
						}
					}
				}
				&:hover {
					.event-date {
						opacity: 1 !important;
					}
					.upcoming-event-meta .event-title {
						transform: translateX(20px);
					}
					& > a {
						&::before {
							opacity: 1;
						}
						&::after {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.upcoming-events .upcoming-event-list .upcoming-event-wrap {
		flex: 0 0 33.3%;
		width: 33.3%;
		margin-bottom: 40px;
	}
}
@media (max-width: 768px) {
	.upcoming-events .upcoming-event-list .upcoming-event-wrap {
		flex: 0 0 33.3%;
		width: 33.3%;
		margin-bottom: 30px;
	}
	.upcoming-events .upcoming-event-list .upcoming-event-wrap .upcoming-event__image .upcoming-event-meta {
		padding: 20px 20px 35px 25px;
	}
}
@media (max-width: 600px) {
	.upcoming-events .upcoming-event-list .upcoming-event-wrap .upcoming-event__image .upcoming-event-meta {
		padding-bottom: 20px;
	}
}
@media (max-width: 530px) {
	.upcoming-events .upcoming-event-list .upcoming-event-wrap {
		flex: 0 0 50%;
		width: 50%;
	}

}
@media (max-width: 400px) {
	.upcoming-events .upcoming-event-list {
		justify-content: center;
	}
	.upcoming-events .upcoming-event-list .upcoming-event-wrap .upcoming-event__image .upcoming-event-meta .event-date {
		opacity: 1;
	}
	.upcoming-events .upcoming-event-list .upcoming-event-wrap .upcoming-event__image .upcoming-event-meta {
		padding-left: 50px !important;
		padding-bottom: 35px;
	}
	.upcoming-events .upcoming-event-list .upcoming-event-wrap {
		flex: 0 0 100%;
		width: 100%;
		text-align: center;
	}
}