@import "../../components/variables";
.stm-cart-button {
	.btn-sm {
		padding: 11px 16px 11px 25px !important;
		position: relative;
		text-transform: none;
		background: #fff;
		&:hover {
			.count {
				background: #fff;
			}
		}
		.count {
			position: absolute;
			display: inline-block;
			border-radius: 50%;
			font-size: 13px;
			width: 18px;
			height: 18px;
			top: 2px;
			left: 34px;
			text-align: center;
			z-index: 2;
			transition: .3s;
		}
		i {
			position: relative;
			margin-right: 10px;
			&.fa-angle-down {
				margin-left: 10px;
				margin-right: 0;
			}
		}
	}
	.mini-cart-dropdown, .widget_shopping_cart_content {
		width: 290px;
		text-align: left;
		background-color: #fff;
		border: 1px #ebebeb solid;
		padding: 20px;
		position: absolute;
		right: 0;
		top: 100%;
		visibility: hidden;
		opacity: 0;
		transition: .3s;
		.woocommerce-mini-cart {
			list-style-type: none;
			padding: 0;
			margin: 0;
			li {
				position: relative;
				margin-bottom: 20px;
				padding: 0;
				&:last-child {
					margin-bottom: 10px;
				}
			}
			.remove_from_cart_button {
				float: right;
				font-size: 14px !important;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				text-align: center;
				line-height: 13px;
			}
			a {
				color: #000;
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				img {
					float: left;
					margin-left: 0;
					margin-right: 10px;
					width: 50px;
				}
			}
			.quantity {
				font-size: 16px;
			}
		}
		.woocommerce-mini-cart__total {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			justify-content: space-between;
			font-size: 18px;
		}
		.buttons {
			margin-bottom: 0;
			a {
				font-size: 14px;
				margin-right: 10px;
				padding: 8px 15px;
				background-color: #000;
				color: #fff;
				border-radius: 50px;
				border: 2px #000 solid;
				&:hover {
					color: #000;
					background-color: #fff;
				}
			}
		}
	}
	.woocommerce-mini-cart__empty-message {
		margin-bottom: 0;
		font-size: 20px;
	}
	&:hover {
		.mini-cart-dropdown, .widget_shopping_cart_content {
			visibility: visible;
			opacity: 1;
		}
	}
}
@media (max-width: 991px) {
	.stm-cart-button {
		.btn-sm {
			font-size: 0 !important;
			padding: 8px 11px 6px 11px !important;
			i {
				font-size: 18px !important;
				margin-right: 0;
				&.fa-angle-down {
					display: none;
				}
			}
		}
	}
}
