h1, .h1, h2, .h2 {
    text-transform: uppercase;
}

body.fitness .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="email"] {
    padding: 20px 44px 21px;
}

body.fitness .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"] {
    padding: 22px 43px;
    background-color: #227881;
    border-color: #227881;
    font-size: 20px;
}

body.fitness .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"]:hover {
    background-color: #fff;
    color: #227881;
}

@media (max-width: 480px) {
    body.fitness .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"] {
        padding: 11px 16px;
    }
}

@media (min-width: 1200px) {
    body.fitness .elementor-testimonial-wrapper .elementor-testimonial-content {
        margin-bottom: 57px;
    }
}

body.fitness .sm_menu_toggle span {
    background-color: #fff;
}

@media (min-width: 992px) {
    body.fitness .stm-cart-button {
        padding-right: 20px;
    }
}

body.fitness .stm-cart-button .btn-sm {
    font-size: 0;
    padding: 8px 9px 3px 10px !important;
    width: 44px;
    height: 44px;
    position: relative;
    text-align: center;
}

body.fitness .stm-cart-button .btn-sm .count {
    color: #fff;
    top: 0px;
    font-size: 11px;
}

body.fitness .stm-cart-button .btn-sm .fa-shopping-bag {
    font-size: 21px;
    margin-right: 0;
    color: #fff;
}

body.fitness .stm-cart-button .btn-sm .fa-angle-down {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    font-size: 18px;
    right: -20px;
}

body.fitness .trainig-buttons .training-price {
    color: #fff;
}

body.fitness .trainig-buttons .join:hover {
    color: #fff;
}

body.fitness .quantity .quantity-wrap .quantity-control:hover,
body.fitness .woocommerce div.product form.cart .single_add_to_cart_button:hover,
body.fitness .woocommerce #respond input#submit:hover,
body.fitness .woocommerce a.button:hover,
body.fitness .woocommerce button.button:hover,
body.fitness .woocommerce input.button:hover,
body.fitness .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
body.fitness .woocommerce button.button.alt:hover,
body.fitness .wpcf7-form input[type=submit]:not(:hover),
body.fitness .btn:not(.dark):not(.sbrc):not(:hover),
body.fitness .trainig-buttons .read-more:hover,
body.fitness .time-label,
body.fitness .event-date,
body.fitness .search-submit .fa-search:not(:hover),
body.fitness.woocommerce div.product form.cart .single_add_to_cart_button:hover,
body.fitness.woocommerce button.button:hover,
body.fitness.woocommerce button.button.alt:hover,
body.fitness .portfolio-wrap > .text-center a.btn.white-c:hover,
body.fitness .nav-links a.page-numbers:hover,
body.fitness .nav-links .current.page-numbers {
    color: #fff;
}

.man_intro {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.man_intro h1 {
    color: #fff;
    text-align: center;
}

.man_intro .main_intro_cont {
    border-bottom: none;
    padding-top: 142px;
    padding-bottom: 142px;
}

@media (max-width: 1200px) {
    .man_intro .main_intro_cont {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width: 767px) {
    .man_intro .main_intro_cont {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.hidden-labels a:hover:before, .hidden-labels a:hover i {
    color: #fff !important;
}

.woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers.next:hover,
.woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers.current,
.woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers:hover,
table thead th {
    color: #fff;
}

.coach-calendar__table table th:first-child,
.coach-calendar__table table td:first-child {
    color: #fff !important;
}
