.elementor-widget-video .elementor-custom-embed-image-overlay:before {
    display: none;
}

@media (min-width: 1200px) {
    .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="email"] {
        padding: 25px 20px 27px;
    }

    .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"] {
        padding: 20px 40px 19px;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        font-size: 22px;
        text-transform: none;
        font-weight: 400;
    }
}

body.motivation .btn.dark:hover {
    color: #fff;
}

body.motivation .trainig-buttons {
    color: #fff;
}

body.motivation .dark-color-hv.pbcc-hv:hover,
body.motivation .woocommerce-grouped-product-list-item__price .amount {
    color: #fff;
}

body.motivation .quantity .quantity-wrap input {
    background-color: #1998d747;
}

body.motivation table thead th {
    color: #fff;
}

body.motivation .coach-calendar__table table th:first-child, body.motivation .coach-calendar__table table td:first-child {
    color: #fff !important;
}

body.motivation .wpcf7-form input[type=submit] {
    color: #fff;
}

body.motivation .pbcc-hv:hover {
    color: #fff;
}

.portfolio-wrap > .text-center a.btn {
    color: #fff !important;
}

.elementor-header .sm_nav_menu > li:not(.menu-item-has-children) a {
    position: relative;
    display: inline-block;
}

.elementor-header .sm_nav_menu > li:not(.menu-item-has-children) a:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 5px;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #000;
    opacity: 0;
    transition: .3s;
}

.elementor-header .sm_nav_menu > li:not(.menu-item-has-children) a:hover:before {
    opacity: 1;
    bottom: -5px;
}

.stm-cart-button .btn-sm .count {
    color: #000 !important;
}
