h1, .h1, h2, .h2 {
    text-transform: uppercase;
}

.btn, button, input[type="submit"], .elementor-button {
    text-transform: none;
}

.training-wrap.style_2 .training-button-wrap .btn {
    color: #1799fa;
    border-color: #ebf5ff;
    background-color: #ebf5ff;
}

.training-wrap.style_2 .training-button-wrap .btn:hover {
    background-color: #1799fa;
    border-color: #1799fa;
    color: #fff;
}

.slick-arrows-inside .slick-arrow {
    background-color: #fff;
    width: 108px;
    height: 94px;
    border-radius: 0 !important;
}

.slick-arrows-inside .slick-arrow:before {
    color: #000;
    font-size: 30px;
}

.slick-arrows-inside .slick-arrow:hover:before, .slick-arrows-inside .slick-arrow:focus:before {
    color: #fff;
}

.slick-arrows-inside .slick-arrow.slick-next {
    right: 0 !important;
}

.slick-arrows-inside .slick-arrow.slick-prev {
    left: 0 !important;
}

@media (max-width: 1200px) {
    .slick-arrows-inside .slick-arrow {
        width: 50px;
        height: 40px;
    }

    .slick-arrows-inside .slick-arrow:before {
        font-size: 16px;
    }
}

.slick-next:before {
    content: "\e950" !important;
}

.slick-prev:before {
    content: "\e94f" !important;
}

.elementor-widget-heading.title-with-icon i {
    vertical-align: middle;
}
