h1, .h1, h2, .h2 {
    text-transform: none;
}

.elementor-custom-embed-image-overlay:before {
    display: none;
}

.elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="email"] {
    padding: 20px 44px 21px;
}

@media (max-width: 480px) {
    .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="email"] {
        padding-left: 20px;
    }
}

.elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"] {
    padding: 22px 43px;
    background-color: #227881;
    border-color: #227881;
    font-size: 20px;
}

.elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"]:hover {
    background-color: #fff;
}

@media (max-width: 480px) {
    .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"] {
        padding: 13px 16px;
        font-size: 17px;
    }
}

.elementor-element-c913346.elementor-widget-video {
    transition: .3s;
}

.elementor-element-c913346.elementor-widget-video:hover {
    transform: scale(1.1);
}
