.elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"]:hover {
    border-color: #ecb537;
    background-color: #ecb537;
}

.elementor-image .wp-caption {
    background: none;
    border: none;
    padding: 0;
    position: relative;
    display: inline-block;
}

.elementor-image .wp-caption img {
    width: 100%;
    max-width: 100%;
    transition: .3s;
}

.elementor-image .wp-caption .widget-image-caption {
    position: absolute;
    left: 40px;
    bottom: 40px;
}
