.header-slider-wrapper {
	.header-slide {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.slide-title {
			margin-bottom: 55px;
			@media (max-width: 1024px) {
				margin-bottom: 35px;
			}
			@media (max-width: 480px) {
				margin-bottom: 25px;
			}
		}
		.btn {
			padding: 22px 35px;
			@media (max-width: 600px){
				padding: 15px 25px;
			}
		}
	}
	.header-slider {
		.owl-nav {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 25%;
			background-color: #fff;
			padding: 10px 15px 10px 35px;
			@media (max-width: 600px){
				width: 45%;
			}
			button {
				display: inline-block;
				width: 40px;
				text-align: center;
				vertical-align: middle;
				span {
					font-size: 0;
					position: relative;
					display: inline-block;
					vertical-align: middle;
					&:before {
						font-family: 'FontAwesome';
						font-size: 22px;
						vertical-align: middle;
						transition: .3s;
					}
				}
				&.owl-prev {
					span {
						&:before {
							content: "\f104";
						}
					}
				}
				&.owl-next {
					span {
						&:before {
							content: "\f105";
						}
					}
				}
			}
		}
	}
}