@import "../../components/variables";
@import "../../components/mixins";
.event-form {
	form {
		position: relative;
		&.loading {
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				width: 100%;
				height: 100%;
				background-color: rgba(255, 255, 255, .5);
				z-index: 2;
			}
			&:after {
				content: '';
				position: absolute;
				background-color: rgba(0, 0, 0, .2);
				width: 30px;
				height: 30px;
				border-radius: 50%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				-webkit-animation-name: pulse;
				animation-name: pulse;
				animation-duration: .7s;
				animation-iteration-count: infinite;
				z-index: 3;
			}
		}
		.col-md-6 {
			margin-bottom: 30px;
		}
		input {
			width: 100%;
			padding: 13px 20px;
		}
		.message {
			padding: 20px;
			border-left-width: 4px;
			border-left-style: solid;
			opacity: 0;
			height: 0;
			transition: .3s;
			box-shadow: 4px 4px 20px rgba(0, 0, 0, .3);
			&.open {
				opacity: 1;
				height: auto;
			}
			&.success {
				border-left-color: $success;
			}
			&.warning {
				border-left-color: $warning;
			}
			&.error {
				border-left-color: $error;
			}
		}
	}
}