.animation_bg .elementor-image {
	display: inline-block;
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		transition: .3s;
		transition-timing-function: ease-in-out;
		z-index: 1;
	}
	img {
		position: relative;
		transition: .3s;
		transition-timing-function: ease-in-out;
		z-index: 2;
	}
	&.top_left {

	}
}
.animation_bg {
	&.bg_small {
		.elementor-image:before {
			width: 40%;
			height: 40%;
		}
		&.top_left .elementor-image {
			&:before {
				left: -20px;
				top: -20px;
			}
			&:hover {
				img {
					transform: translate3d(-3px, -3px, -3px);
				}
				&:before {
					transform: translate3d(3px, 3px, 3px);
				}
			}
		}
		&.top_right .elementor-image {
			&:before {
				right: -20px;
				top: -20px;
			}
			&:hover {
				img {
					transform: translate3d(3px, -3px, -3px);
				}
				&:before {
					transform: translate3d(3px, 3px, 3px);
				}
			}
		}
		&.bottom_right .elementor-image {
			&:before {
				right: -20px;
				bottom: -20px;
			}
			&:hover {
				img {
					transform: translate3d(3px, 3px, -3px);
				}
				&:before {
					transform: translate3d(-3px, -3px, 3px);
				}
			}
		}
		&.bottom_left .elementor-image {
			&:before {
				left: -20px;
				bottom: -20px;
			}
			&:hover {
				img {
					transform: translate3d(-3px, 3px, -3px);
				}
				&:before {
					transform: translate3d(3px, -3px, 3px);
				}
			}
		}
	}
	&.bg_medium {
		.elementor-image:before {
			width: 60%;
			height: 60%;
		}
		&.top_left .elementor-image {
			&:before {
				left: -25px;
				top: -25px;
			}
			&:hover {
				img {
					transform: translate3d(-4px, -4px, -4px);
				}
				&:before {
					transform: translate3d(4px, 4px, 4px);
				}
			}
		}
		&.top_right .elementor-image {
			&:before {
				right: -25px;
				top: -25px;
			}
			&:hover {
				img {
					transform: translate3d(4px, -4px, -4px);
				}
				&:before {
					transform: translate3d(4px, 4px, 4px);
				}
			}
		}
		&.bottom_right .elementor-image {
			&:before {
				right: -25px;
				bottom: -25px;
			}
			&:hover {
				img {
					transform: translate3d(4px, 4px, -4px);
				}
				&:before {
					transform: translate3d(-4px, -4px, 4px);
				}
			}
		}
		&.bottom_left .elementor-image {
			&:before {
				left: -25px;
				bottom: -25px;
			}
			&:hover {
				img {
					transform: translate3d(-4px, 4px, -4px);
				}
				&:before {
					transform: translate3d(4px, -4px, 4px);
				}
			}
		}
	}
	&.bg_large {
		.elementor-image:before {
			width: 95%;
			height: 95%;
		}
		&.top_left .elementor-image {
			&:before {
				left: -30px;
				top: -30px;
			}
			&:hover {
				img {
					transform: translate3d(-5px, -5px, -5px);
				}
				&:before {
					transform: translate3d(5px, 5px, 5px);
				}
			}
		}
		&.top_right .elementor-image {
			&:before {
				right: -30px;
				top: -30px;
			}
			&:hover {
				img {
					transform: translate3d(5px, -5px, -5px);
				}
				&:before {
					transform: translate3d(5px, 5px, 5px);
				}
			}
		}
		&.bottom_right .elementor-image {
			&:before {
				right: -30px;
				bottom: -30px;
			}
			&:hover {
				img {
					transform: translate3d(5px, 5px, -5px);
				}
				&:before {
					transform: translate3d(-5px, -5px, 5px);
				}
			}
		}
		&.bottom_left .elementor-image {
			&:before {
				left: -30px;
				bottom: -30px;
			}
			&:hover {
				img {
					transform: translate3d(-5px, 5px, -5px);
				}
				&:before {
					transform: translate3d(5px, -5px, 5px);
				}
			}
		}
	}
}

.icon-overlay .elementor-image {
	position: relative;
	display: inline-block;
	.icon-wrap {
		position: absolute;
		z-index: 2;
	}
}