.testimonials-widget {
	&.style-2 {
		.testimonial-image-carousel {
			padding-bottom: 80px;
			.testimonial-slide-top {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				margin-bottom: 30px;
				.testimonial-image {
					width: 99px;
					margin-right: 26px;
					@media (max-width: 480px){
						margin-bottom: 20px;
					}
					img {
						border-radius: 50%;
					}
				}
				.testimonial-position {
					.testimonial-title {
						font-size: 28px;
					}
					.testimonial-sub-title {
						font-size: 20px;
					}
				}
			}
			.slick-arrow {
				top: auto;
				bottom: 30px;
				transform: translateY(0);
				opacity: .5;
				&:hover {
					opacity: 1;
				}
				&:before {
					font-size: 24px;
					font-family: 'betop';
				}
				&.slick-prev {
					left: 0;
					&:before {
						content: "\e94f";
					}
				}
				&.slick-next {
					left: 40px;
					&:before {
						content: "\e950";
					}
				}
			}
		}
	}
}