.testimonials-widget {
	&.style-3 {
		.slider-title {
			.col-md-4 {
				width: 100%;
				max-width: 370px;
				padding: 29px 40px;
				h3 {
					font-size: 26px;
					text-transform: uppercase;
					line-height: 33px;
					margin: 0;
				}
				@media (max-width: 768px){
					padding: 20px;
					h3 {
						font-size: 20px;
						line-height: 26px;
					}
				}
				@media (max-width: 400px){
					max-width: 100%;
				}
			}
		}
		.testimonials-widget-wrapper {
			.testimonials-main {
				.single-testimonial {
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					min-height: 480px;
					padding-top: 140px;
					padding-bottom: 140px;
					position: relative;
					@media (max-width: 768px) {
						padding-top: 100px;
						padding-bottom: 100px;
					}
					&:before {
						content: '';
					}
					.testimonial-text {
						font-size: 30px;
						line-height: 43px;
						margin-bottom: 70px;
						@media (max-width: 768px){
							font-size: 24px;
							line-height: 32px;
							margin-bottom: 40px;
						}
					}
					.testimonial-title {
						font-size: 24px;
						line-height: 26px;
						text-transform: uppercase;
						font-weight: 600;

					}
					.testimonial-sub-title {
						font-size: 16px;
						line-height: 26px;
						font-weight: 400;
					}
				}
			}
			.testimonial-thumbnails {
				width: 100%;
				max-width: 370px;
				flex: 0 0 100%;
				margin-bottom: -480px;
				z-index: 2;
				@media (max-width: 1200px){
					display: none;
				}
				.single-testimonial {
					height: 160px;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					border: none;
					background-color: #000;
					display: flex;
					flex-wrap: wrap;
					width: 100%;
					padding: 36px;
					align-items: flex-end;
					position: relative;
					&:before {
						content: '';
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
						background: rgba(0, 0, 0, .3);
						z-index: 2;
						transition: 0.3s;
					}
					.slide-content {
						opacity: 0;
						transition: .3s;
						.testimonial-title {
							font-size: 20px;
							text-transform: uppercase;
							font-weight: 600;
						}
						.testimonial-sub-title {
							font-weight: 400;
							font-size: 16px;
							line-height: 20px;
						}
					}
					&.slick-current {
						&:before {
							opacity: 1;
						}
						.slide-content {
							opacity: 0;
						}
						&.slick-current {
							&:before {
								opacity: 0;
							}
							.slide-content {
								opacity: 1;
							}
						}
					}
				}
				.slick-arrow {
					z-index: 2;
				}
				.slick-prev {
					top: 50px;
					left: 50%;
					transform: translateX(-50%) rotate(90deg);
				}
				.slick-next {
					top: auto;
					bottom: 50px;
					left: 50%;
					transform: translateX(-50%) rotate(90deg);
				}
			}
		}
	}
}