.testimonials-widget {
	&.style-1 {
		.testimonial-image-carousel {
			max-width: 367px;
			margin: 0 auto 44px auto;
			min-height: 175px;
			.slick-slide {
				&.slick-cloned {
					//opacity: 0;
				}
			}
			.testimonial-image {
				width: 112px;
				height: 112px;
				overflow: hidden;
				border-radius: 50%;
				transition: .3s;
				&.slick-center {
					width: 143px;
					height: auto;
					border-radius: 0 0 50% 50%;
					transform: scale(1.1);
				}
			}
			.slick-track {
				display: flex;
				align-items: center;
				padding-bottom: 10px;
				transition: .3s;
			}
		}
		.testimonial-content-carousel {
			text-align: center;
			padding-left: 15px;
			padding-right: 15px;
			.testimonial-title {
				font-size: 26px;
				font-weight: 600;
				text-transform: uppercase;
			}
			.testimonial-sub-title {
				font-weight: 500;
				font-size: 18px;
				margin-bottom: 35px;
				line-height: 20px;
			}
			.testimonial-text {

			}
		}
		@media (max-width: 600px){
			.testimonial-image-carousel {
				max-width: 280px;
				//margin: 0 0 44px 0;
				.testimonial-image {
					width: auto !important;
					height: auto;
					-webkit-border-radius: 0 !important;
					-moz-border-radius: 0 !important;
					border-radius: 0 !important;
					border: none !important;
					transform: scale(1) !important;
					border: none !important;
					img {
						margin: 0 auto;
					}
				}
			}
		}
		@media (max-width: 480px){
			.testimonial-image-carousel {
				max-width: 260px;
				.testimonial-image {

				}
			}
		}
		@media (max-width: 360px){
			.testimonial-image-carousel {
				.slick-arrow {
					&:before {
						font-size: 30px;
					}
				}
			}
		}
	}
}