.testimonials-widget.style-4 {
	padding-left: 100px;
	position: relative;
	& > i {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 40px;
	}
	.testimonials-carousel {
		color: #515254;
		.testimonial-title {
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 31px;
		}
		.testimonial-sub-title {
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 20px;
		}
		.testimonial-content {
			font-size: 26px;
			line-height: 42px;
			margin-bottom: 56px;
			@media (max-width: 767px){
				margin-bottom: 30px;
			}
		}
		.owl-nav {
			@media (min-width: 1200px){
				position: absolute;
				top: -79px;
				right: 15px;
				padding-left: 0;
				padding-top: 0;
			}
			button {
				color: #7e8891;
				span {
					position: relative;
					font-size: 0;
					&:before {
						font-family: 'betop';
						font-size: 25px;
						display: block !important;
					}
				}
				&.owl-prev {
					& span:before {
						content: "\e94f";
					}
				}
				&.owl-next {
					margin-left: 11px;
					& span:before {
						content: "\e950";
					}
				}
			}
		}
	}
	.testimonials-dots {
		img {
			border-radius: 50%;
			cursor: pointer;
			opacity: .5;
			transition: .3s;
			margin-right: 17px;
			width: 72px;
			&.active {
				box-shadow: 0px 13px 25px 0px rgba(35, 75, 93, 0.29);
				opacity: 1;
			}
			@media (max-width: 1024px){
				width: 40px;
				margin-right: 8px;
			}
		}
	}
}
@media (max-width: 767px){
	.testimonials-widget.style-4 {
		padding-left: 40px;
		& > i {
			font-size: 32px;
		}
	}
}