#sm-interactive{
  display: none;
  background: #000000cf;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 200;
}
#masthead{
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: white;
  -webkit-box-shadow: 0 6px 5px -5px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 6px 5px -5px rgba(0,0,0,0.05);
  box-shadow: 0 6px 5px -5px rgba(0,0,0,0.05);
  .site-logo{
    display: flex;
    justify-content: center;
    a{
      img{
        width: 200px;
        transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
        transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
      }
    }
  }
  .smt-items-menu{
    .site-branding{
      .elementor-header{
        a{
          font-family: "proxima" !important;
        }
        padding: 70px 0 0 0;
        transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
        transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
      }
    }
  }
}
#content.no-title-box{
  padding-top: 250px;
}
#masthead.header-down{
  -webkit-box-shadow: 0 6px 5px -5px rgba(0,0,0,0.33);
  -moz-box-shadow: 0 6px 5px -5px rgba(0,0,0,0.33);
  box-shadow: 0 6px 5px -5px rgba(0,0,0,0.33);
  .site-logo{
    a{
      img{
        width: 90px;
      }
    }
  }
  .smt-items-menu{
    .site-branding{
      .elementor-header{
        padding: 50px 0 0 0;
      }
    }
  }
}
.content-calendar{
  position: fixed;
  z-index: 1000;
  top: 20%;
  left: 20%;
  right: 20%;
  #calendar {
    max-width: 900px;
    margin: 40px auto;
    background: #fff;
    border-radius: 10px;
    .fc-view-container{
      padding: 25px;
    }
    .fc-toolbar.fc-header-toolbar{
      padding: 20px 25px 0 25px;
      margin-bottom: 0;
      .fc-left{
        .fc-button-group{
          .fc-icon-right-single-arrow, .fc-icon-left-single-arrow{
            &:after{
              top: -8px;
            }
          }
        }
      }
    }
  }

  #calendar a.fc-event {
    color: #fff; /*los estilos predeterminados de bootstrap lo hacen negro. deshacer  */
  }
}

