@font-face {
  font-family: "proxima";
  src: url("../../assets/fonts/proxima/ProximaNova-Regular.otf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "timeless";
  src: url("../../assets/fonts/timeless/Timeless.ttf") format("truetype");
  font-weight: normal;
}
/*# sourceMappingURL=fonts.css.map */