@font-face {
	font-family: 'betop';
	src:  url('fonts/betop.eot?9xptv4');
	src:  url('fonts/betop.eot?9xptv4#iefix') format('embedded-opentype'),
	url('fonts/betop.ttf?9xptv4') format('truetype'),
	url('fonts/betop.woff?9xptv4') format('woff'),
	url('fonts/betop.svg?9xptv4#betop') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="mc-"], [class*=" mc-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'betop' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.mc-boxing:before {
	content: "\e968";
}
.mc-fist:before {
	content: "\e969";
}
.mc-karate:before {
	content: "\e96a";
}
.mc-torso:before {
	content: "\e96b";
}
.mc-globe:before {
	content: "\e965";
}
.mc-office-phone:before {
	content: "\e966";
}
.mc-working-hours:before {
	content: "\e967";
}
.mc-mail:before {
	content: "\e964";
}
.mc-tag:before {
	content: "\e963";
}
.mc-minus:before {
	content: "\e961";
}
.mc-plus:before {
	content: "\e962";
}
.mc-chevron-left-1:before {
	content: "\e95f";
}
.mc-chevron-right:before {
	content: "\e960";
}
.mc-mailbox:before {
	content: "\e95e";
}
.mc-couple:before {
	content: "\e95b";
}
.mc-head:before {
	content: "\e95c";
}
.mc-teen:before {
	content: "\e95d";
}
.mc-article:before {
	content: "\e957";
}
.mc-video:before {
	content: "\e958";
}
.mc-book:before {
	content: "\e959";
}
.mc-tribune:before {
	content: "\e95a";
}
.mc-fitness:before {
	content: "\e953";
}
.mc-running:before {
	content: "\e954";
}
.mc-stationary-bicycle:before {
	content: "\e955";
}
.mc-waist:before {
	content: "\e956";
}
.mc-shopping-bag:before {
	content: "\e951";
}
.mc-zoom:before {
	content: "\e952";
}
.mc-left:before {
	content: "\e94f";
}
.mc-right:before {
	content: "\e950";
}
.mc-groceries:before {
	content: "\e94e";
}
.mc-calendar:before {
	content: "\e94d";
}
.mc-quote-left:before {
	content: "\e94b";
}
.mc-quote-right:before {
	content: "\e94c";
}
.mc-yog-lotus:before {
	content: "\e90a";
}
.mc-yog-hamsa:before {
	content: "\e90b";
}
.mc-yog-book:before {
	content: "\e90c";
}
.mc-yog-hand:before {
	content: "\e90d";
}
.mc-yog-om:before {
	content: "\e90e";
}
.mc-yog-stress:before {
	content: "\e90f";
}
.mc-yog-ballon:before {
	content: "\e910";
}
.mc-yog-incense:before {
	content: "\e911";
}
.mc-yog-hand-1:before {
	content: "\e912";
}
.mc-yog-hand-2:before {
	content: "\e913";
}
.mc-yog-meditation:before {
	content: "\e914";
}
.mc-yog-chakra:before {
	content: "\e915";
}
.mc-yog-placeholder:before {
	content: "\e916";
}
.mc-yog-bosu-ball:before {
	content: "\e917";
}
.mc-yog-flower:before {
	content: "\e918";
}
.mc-yog-hand-3:before {
	content: "\e919";
}
.mc-yog-esteem:before {
	content: "\e91a";
}
.mc-yog-happiness:before {
	content: "\e91b";
}
.mc-yog-necklace:before {
	content: "\e91c";
}
.mc-yog-peace-sign:before {
	content: "\e91d";
}
.mc-yog-stone:before {
	content: "\e91e";
}
.mc-yog-yin-yang:before {
	content: "\e91f";
}
.mc-yog-yoga:before {
	content: "\e920";
}
.mc-yog-clothes:before {
	content: "\e921";
}
.mc-yog-incense-1:before {
	content: "\e922";
}
.mc-yog-candles:before {
	content: "\e923";
}
.mc-yog-heart:before {
	content: "\e924";
}
.mc-yog-body:before {
	content: "\e925";
}
.mc-yog-drop:before {
	content: "\e926";
}
.mc-yog-listen:before {
	content: "\e927";
}
.mc-yog-head:before {
	content: "\e928";
}
.mc-yog-carpet:before {
	content: "\e929";
}
.mc-yog-droplet:before {
	content: "\e92a";
}
.mc-yog-ball:before {
	content: "\e92b";
}
.mc-yog-teapot:before {
	content: "\e92c";
}
.mc-yog-chakra-1:before {
	content: "\e92d";
}
.mc-yog-friends:before {
	content: "\e92e";
}
.mc-yog-hand-4:before {
	content: "\e92f";
}
.mc-yog-bamboo:before {
	content: "\e930";
}
.mc-yog-chakra-2:before {
	content: "\e931";
}
.mc-yog-hand-5:before {
	content: "\e932";
}
.mc-yog-buddha:before {
	content: "\e933";
}
.mc-yog-heart-1:before {
	content: "\e934";
}
.mc-yog-pants:before {
	content: "\e935";
}
.mc-yog-bowl:before {
	content: "\e936";
}
.mc-yog-resistance:before {
	content: "\e937";
}
.mc-yog-plant:before {
	content: "\e938";
}
.mc-yog-chatting:before {
	content: "\e939";
}
.mc-yog-head-1:before {
	content: "\e93a";
}
.mc-yog-calendar:before {
	content: "\e93b";
}
.mc-burner:before {
	content: "\e93c";
}
.mc-chakra-1:before {
	content: "\e93d";
}
.mc-chakra-2:before {
	content: "\e93e";
}
.mc-chakra-3:before {
	content: "\e93f";
}
.mc-chakra:before {
	content: "\e940";
}
.mc-flower:before {
	content: "\e941";
}
.mc-incense:before {
	content: "\e942";
}
.mc-lotus-1:before {
	content: "\e943";
}
.mc-lotus:before {
	content: "\e944";
}
.mc-om-1:before {
	content: "\e945";
}
.mc-om:before {
	content: "\e946";
}
.mc-stones:before {
	content: "\e947";
}
.mc-teapot:before {
	content: "\e948";
}
.mc-yoga-1:before {
	content: "\e949";
}
.mc-yoga:before {
	content: "\e94a";
}
.mc-coin:before {
	content: "\e906";
}
.mc-clock:before {
	content: "\e907";
}
.mc-smile:before {
	content: "\e908";
}
.mc-medal:before {
	content: "\e909";
}
.mc-play:before {
	content: "\e905";
}
.mc-certificate:before {
	content: "\e900";
}
.mc-hamburger:before {
	content: "\e901";
}
.mc-meditation:before {
	content: "\e902";
}
.mc-padmasana:before {
	content: "\e903";
}
.mc-warrior:before {
	content: "\e904";
}
