.testimonials-widget.style-1 .testimonial-image-carousel {
    max-width: 367px;
    margin: 0 auto 44px auto;
    min-height: 175px;
}

.testimonials-widget.style-1 .testimonial-image-carousel .testimonial-image {
    width: 112px;
    height: 112px;
    overflow: hidden;
    border-radius: 50%;
    transition: .3s;
}

.testimonials-widget.style-1 .testimonial-image-carousel .testimonial-image.slick-center {
    width: 143px;
    height: auto;
    border-radius: 0 0 50% 50%;
    transform: scale(1.1);
}

.testimonials-widget.style-1 .testimonial-image-carousel .slick-track {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 10px;
    transition: .3s;
}

.testimonials-widget.style-1 .testimonial-content-carousel {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.testimonials-widget.style-1 .testimonial-content-carousel .testimonial-title {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
}

.testimonials-widget.style-1 .testimonial-content-carousel .testimonial-sub-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 35px;
    line-height: 20px;
}

@media (max-width: 600px) {
    .testimonials-widget.style-1 .testimonial-image-carousel {
        max-width: 280px;
    }

    .testimonials-widget.style-1 .testimonial-image-carousel .testimonial-image {
        width: auto !important;
        height: auto;
        border-radius: 0 !important;
        border: none !important;
        transform: scale(1) !important;
        border: none !important;
    }

    .testimonials-widget.style-1 .testimonial-image-carousel .testimonial-image img {
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .testimonials-widget.style-1 .testimonial-image-carousel {
        max-width: 260px;
    }
}

@media (max-width: 360px) {
    .testimonials-widget.style-1 .testimonial-image-carousel .slick-arrow:before {
        font-size: 30px;
    }
}

.testimonials-widget.style-2 .testimonial-image-carousel {
    padding-bottom: 80px;
}

.testimonials-widget.style-2 .testimonial-image-carousel .testimonial-slide-top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.testimonials-widget.style-2 .testimonial-image-carousel .testimonial-slide-top .testimonial-image {
    width: 99px;
    margin-right: 26px;
}

@media (max-width: 480px) {
    .testimonials-widget.style-2 .testimonial-image-carousel .testimonial-slide-top .testimonial-image {
        margin-bottom: 20px;
    }
}

.testimonials-widget.style-2 .testimonial-image-carousel .testimonial-slide-top .testimonial-image img {
    border-radius: 50%;
}

.testimonials-widget.style-2 .testimonial-image-carousel .testimonial-slide-top .testimonial-position .testimonial-title {
    font-size: 28px;
}

.testimonials-widget.style-2 .testimonial-image-carousel .testimonial-slide-top .testimonial-position .testimonial-sub-title {
    font-size: 20px;
}

.testimonials-widget.style-2 .testimonial-image-carousel .slick-arrow {
    top: auto;
    bottom: 30px;
    transform: translateY(0);
    opacity: .5;
}

.testimonials-widget.style-2 .testimonial-image-carousel .slick-arrow:hover {
    opacity: 1;
}

.testimonials-widget.style-2 .testimonial-image-carousel .slick-arrow:before {
    font-size: 24px;
    font-family: 'betop';
}

.testimonials-widget.style-2 .testimonial-image-carousel .slick-arrow.slick-prev {
    left: 0;
}

.testimonials-widget.style-2 .testimonial-image-carousel .slick-arrow.slick-prev:before {
    content: "\e94f";
}

.testimonials-widget.style-2 .testimonial-image-carousel .slick-arrow.slick-next {
    left: 40px;
}

.testimonials-widget.style-2 .testimonial-image-carousel .slick-arrow.slick-next:before {
    content: "\e950";
}

.testimonials-widget.style-3 .slider-title .col-md-4 {
    width: 100%;
    max-width: 370px;
    padding: 29px 40px;
}

.testimonials-widget.style-3 .slider-title .col-md-4 h3 {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 33px;
    margin: 0;
}

@media (max-width: 768px) {
    .testimonials-widget.style-3 .slider-title .col-md-4 {
        padding: 20px;
    }

    .testimonials-widget.style-3 .slider-title .col-md-4 h3 {
        font-size: 20px;
        line-height: 26px;
    }
}

@media (max-width: 400px) {
    .testimonials-widget.style-3 .slider-title .col-md-4 {
        max-width: 100%;
    }
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonials-main .single-testimonial {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 480px;
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;
}

@media (max-width: 768px) {
    .testimonials-widget.style-3 .testimonials-widget-wrapper .testimonials-main .single-testimonial {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonials-main .single-testimonial:before {
    content: '';
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonials-main .single-testimonial .testimonial-text {
    font-size: 30px;
    line-height: 43px;
    margin-bottom: 70px;
}

@media (max-width: 768px) {
    .testimonials-widget.style-3 .testimonials-widget-wrapper .testimonials-main .single-testimonial .testimonial-text {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 40px;
    }
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonials-main .single-testimonial .testimonial-title {
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 600;
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonials-main .single-testimonial .testimonial-sub-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonial-thumbnails {
    width: 100%;
    max-width: 370px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: -480px;
    z-index: 2;
}

@media (max-width: 1200px) {
    .testimonials-widget.style-3 .testimonials-widget-wrapper .testimonial-thumbnails {
        display: none;
    }
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonial-thumbnails .single-testimonial {
    height: 160px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: none;
    background-color: #000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding: 36px;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative;
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonial-thumbnails .single-testimonial:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    transition: 0.3s;
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonial-thumbnails .single-testimonial .slide-content {
    opacity: 0;
    transition: .3s;
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonial-thumbnails .single-testimonial .slide-content .testimonial-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonial-thumbnails .single-testimonial .slide-content .testimonial-sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonial-thumbnails .single-testimonial.slick-current:before {
    opacity: 1;
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonial-thumbnails .single-testimonial.slick-current .slide-content {
    opacity: 0;
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonial-thumbnails .single-testimonial.slick-current.slick-current:before {
    opacity: 0;
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonial-thumbnails .single-testimonial.slick-current.slick-current .slide-content {
    opacity: 1;
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonial-thumbnails .slick-arrow {
    z-index: 2;
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonial-thumbnails .slick-prev {
    top: 50px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
}

.testimonials-widget.style-3 .testimonials-widget-wrapper .testimonial-thumbnails .slick-next {
    top: auto;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
}

.testimonials-widget.style-4 {
    padding-left: 100px;
    position: relative;
}

.testimonials-widget.style-4 > i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 40px;
}

.testimonials-widget.style-4 .testimonials-carousel {
    color: #515254;
}

.testimonials-widget.style-4 .testimonials-carousel .testimonial-title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 31px;
}

.testimonials-widget.style-4 .testimonials-carousel .testimonial-sub-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.testimonials-widget.style-4 .testimonials-carousel .testimonial-content {
    font-size: 26px;
    line-height: 42px;
    margin-bottom: 56px;
}

@media (max-width: 767px) {
    .testimonials-widget.style-4 .testimonials-carousel .testimonial-content {
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .testimonials-widget.style-4 .testimonials-carousel .owl-nav {
        position: absolute;
        top: -79px;
        right: 15px;
        padding-left: 0;
        padding-top: 0;
    }
}

.testimonials-widget.style-4 .testimonials-carousel .owl-nav button {
    color: #7e8891;
}

.testimonials-widget.style-4 .testimonials-carousel .owl-nav button span {
    position: relative;
    font-size: 0;
}

.testimonials-widget.style-4 .testimonials-carousel .owl-nav button span:before {
    font-family: 'betop';
    font-size: 25px;
    display: block !important;
}

.testimonials-widget.style-4 .testimonials-carousel .owl-nav button.owl-prev span:before {
    content: "\e94f";
}

.testimonials-widget.style-4 .testimonials-carousel .owl-nav button.owl-next {
    margin-left: 11px;
}

.testimonials-widget.style-4 .testimonials-carousel .owl-nav button.owl-next span:before {
    content: "\e950";
}

.testimonials-widget.style-4 .testimonials-dots img {
    border-radius: 50%;
    cursor: pointer;
    opacity: .5;
    transition: .3s;
    margin-right: 17px;
    width: 72px;
}

.testimonials-widget.style-4 .testimonials-dots img.active {
    box-shadow: 0px 13px 25px 0px rgba(35, 75, 93, 0.29);
    opacity: 1;
}

@media (max-width: 1024px) {
    .testimonials-widget.style-4 .testimonials-dots img {
        width: 40px;
        margin-right: 8px;
    }
}

@media (max-width: 767px) {
    .testimonials-widget.style-4 {
        padding-left: 40px;
    }

    .testimonials-widget.style-4 > i {
        font-size: 32px;
    }
}
