h1, .h1, h2, .h2 {
	text-transform: uppercase;
}
.elementor-image {
	.wp-caption {
		background: none;
		border: none;
		padding: 0;
		position: relative;
		display: inline-block;
		img {
			width: 100%;
			max-width: 100%;
			transition: .3s;
		}
		.widget-image-caption {
			position: absolute;
			left: 30px;
			bottom: 22px;
		}
	}
}
.betop-contact-form {
	.radio-title {
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 25px;
	}
	.input-fields-wrap {
		margin-bottom: 20px;
		input {
			border: 2px #d8d8d8 solid;
			border-radius: 4px;
			padding: 18px 20px;
			margin-bottom: 30px;
			font-size: 17px;
		}
	}
	.radio-wrap {
		label {
			display: block;
			height: 100%;
			width: 100%;
			text-align: center;
			border: 2px #d8d8d8 solid;
			border-radius: 4px;
			padding: 18px 5px 10px;
			cursor: pointer;
			transition: .3s;
			margin-bottom: 30px;
			&:hover {
				border-color: #0fa7fe;
			}
			i {
				font-size: 40px;
				color: #0fa7fe;
			}
			span {
				display: block;
				font-size: 16px;
			}
		}
		input {
			display: none;
			&:checked ~ label {
				border-color: #0fa7fe;
			}
		}
	}
	& ~ p {
		.wpcf7-submit {
			background-color: #000 !important;
			border-color: #000 !important;
			color: #fff;
			margin-top: 45px;
			@media (min-width: 1200px){
				padding: 29px 57px !important;
			}
			&:hover {
				background: #ffc03f !important;
				border-color: #ffc03f !important;
				color: #000;
			}
		}
	}
}