h1, .h1, h2, .h2 {
	text-transform: uppercase;
}
body.fitness {
	.elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields {
		input[type="email"] {
			padding: 20px 44px 21px;
		}
		input[type="submit"] {
			padding: 22px 43px;
			background-color: #227881;
			border-color: #227881;
			font-size: 20px;
			&:hover {
				background-color: #fff;
				color: #227881;
			}
			@media (max-width: 480px){
				padding: 11px 16px;
			}
		}
	}
	@media (min-width: 1200px){
		.elementor-testimonial-wrapper .elementor-testimonial-content {
			margin-bottom: 57px;
		}
	}
	.sm_menu_toggle span {
		background-color: #fff;
	}
	.stm-cart-button {
		@media (min-width: 992px){
			padding-right: 20px;
		}
		.btn-sm {
			font-size: 0;
			padding: 8px 9px 3px 10px !important;
			width: 44px;
			height: 44px;
			position: relative;
			text-align: center;
			.count {
				color: #fff;
				top: 0px;
				font-size: 11px;
			}
			.fa-shopping-bag {
				font-size: 21px;
				margin-right: 0;
				color: #fff;
			}
			.fa-angle-down {
				position: absolute;
				top: 52%;
				transform: translateY(-50%);
				font-size: 18px;
				right: -20px;
			}
		}
	}
	.trainig-buttons {
		.training-price {
			color: #fff;
		}
		.join:hover {
			color: #fff;
		}
	}
	.quantity .quantity-wrap .quantity-control:hover,
	.woocommerce div.product form.cart .single_add_to_cart_button:hover,
	.woocommerce #respond input#submit:hover,
	.woocommerce a.button:hover,
	.woocommerce button.button:hover,
	.woocommerce input.button:hover,
	.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
	.woocommerce button.button.alt:hover,
	.wpcf7-form input[type=submit]:not(:hover),
	.btn:not(.dark):not(.sbrc):not(:hover),
	.trainig-buttons .read-more:hover,
	.time-label,
	.event-date,
	.search-submit .fa-search:not(:hover),
	&.woocommerce div.product form.cart .single_add_to_cart_button:hover,
	&.woocommerce button.button:hover,
	&.woocommerce button.button.alt:hover,
	.portfolio-wrap > .text-center a.btn.white-c:hover,
	.nav-links a.page-numbers:hover,
	.nav-links .current.page-numbers
	{
		color: #fff;
	}
}
.man_intro {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	h1 {
		color: #fff;
		text-align: center;
	}
	.main_intro_cont {
		border-bottom: none;
		padding-top: 142px;
		padding-bottom: 142px;
		@media (max-width: 1200px){
			padding-top: 100px;
			padding-bottom: 100px;
		}
		@media (max-width: 767px){
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}
}
.hidden-labels {
	a:hover {
		&:before, i {
			color: #fff !important;
		}
	}
}
.woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers.next:hover,
.woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers.current,
.woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers:hover,
table thead th
{
	color: #fff;
}
.coach-calendar__table table th:first-child,
.coach-calendar__table table td:first-child
{
	color: #fff !important;
}
