.elementor-widget-video .elementor-custom-embed-image-overlay:before {
	display: none;
}

@media (min-width: 1200px) {
	.elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields {
		input[type="email"] {
			padding: 25px 20px 27px;
		}
		input[type="submit"] {
			padding: 20px 40px 19px;
			top: 50%;
			transform: translateY(-50%);
			right: 8px;
			font-size: 22px;
			text-transform: none;
			font-weight: 400;
		}
	}
}

body.motivation {
	.btn.dark:hover {
		color: #fff;
	}
	.trainig-buttons {
		color: #fff;
	}
	.dark-color-hv.pbcc-hv:hover,
	.woocommerce-grouped-product-list-item__price .amount {
		color: #fff;
	}
	.quantity .quantity-wrap input {
		background-color: #1998d747;
	}
	table thead th {
		color: #fff;
	}
	.coach-calendar__table table th:first-child, .coach-calendar__table table td:first-child {
		color: #fff !important;
	}
	.wpcf7-form input[type=submit] {
		color: #fff;
	}
	.pbcc-hv:hover {
		color: #fff;
	}
}

.portfolio-wrap {
	& > .text-center {
		a.btn {
			color: #fff !important;
		}
	}
}

.elementor-header .sm_nav_menu {
	& > li:not(.menu-item-has-children) {
		a {
			position: relative;
			display: inline-block;
			&:before {
				content: '';
				display: block;
				position: absolute;
				bottom: 5px;
				width: 100%;
				left: 0;
				height: 2px;
				background-color: #000;
				opacity: 0;
				transition: .3s;
			}
			&:hover {
				&:before {
					opacity: 1;
					bottom: -5px;
				}
			}
		}
	}
}
.stm-cart-button .btn-sm .count {
	color: #000 !important;
}