@import "../components/variables";
.elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"]:hover {
	border-color: $primary;
	background-color: $primary;
}
.elementor-image {
	.wp-caption {
		background: none;
		border: none;
		padding: 0;
		position: relative;
		display: inline-block;
		img {
			width: 100%;
			max-width: 100%;
			transition: .3s;
		}
		.widget-image-caption {
			position: absolute;
			left: 40px;
			bottom: 40px;
		}
	}
}
