@import "components/variables";
@import "components/mixins";

#editor.block-editor__container .editor-styles-wrapper {
	.wp-block {
		max-width: 1200px;
		font-family: $body-font;
		color: #000;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		a {
			color: $primary;
			text-decoration: none;
		}
	}
	.editor-post-title__block .editor-post-title__input {
		font-family: $head-font;
	}
	p {
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 24px;
	}
	footer .elementor-widget-text-editor {
		p {
			margin-bottom: 4px;
		}
	}
	.fa, .fab, .fal, .far, .fas {
		font-family: 'FontAwesome';
	}
	p {
		margin-top: 0;
		margin-bottom: 24px;
	}

	.head-font {
		font-weight: 500;
	}

	body div div .sc, body div div .sc-hv:hover {
		color: $secondary;
	}

	.sbrc, .sbrc-hv:hover {
		border-color: $secondary;
	}

	.sbcc, .sbcc-hv:hover, .training-block-slider .owl-dots button {
		background-color: $secondary;
	}

	body div div .dark {
		background-color: #000;
		border-color: #000;
		color: #fff;
	}

	body {
		.date, time {
			font-weight: 500;
			text-transform: uppercase;
		}
	}

	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		margin-top: 0;
	}

	*:before, *:after {
		line-height: 1;
	}

	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .head-font, nav a, .nav-links .prev, .nav-links .next, .comment-author b.fn, time, body .date, .reply a, footer nav a, .select2, .next.page-numbers, .prev.page-numbers, .quantity label, .woocommerce div.product .woocommerce-product-rating .woocommerce-review-link, .tabs li a, .elementor-widget-accordion .elementor-accordion .elementor-tab-title, .contact-data, .ui-datepicker-header .ui-datepicker-title, .ui-datepicker table td, .ui-datepicker table th, .select2-results__option {
		font-family: $head-font;
	}

	body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, nav a, .stm_post-after .tags a {
		color: #000;
	}

	.stm_post-after .tags a:hover, .star-rating, .pc, .pc-hv:hover, time, .reply a:hover,ul:not(.wp-block-gallery) li:before, body.yoga a, .coach-tabs__list .catergory-tab-link.active .category-icon i, .coach-tabs__list .catergory-tab-link:hover .category-icon i, nav a:hover {
		color: $primary;
	}

	ul.wp-block-gallery {
		li.blocks-gallery-item {
			padding-left: 0 !important;
			&:before {
				display: none !important;
			}
		}
	}
	.wp-caption.alignleft {
		margin-bottom: 20px !important;
	}
	h1, .h1 {
		font-weight: 700;
		font-size: 54px;
		line-height: 60px;
		margin-bottom: 37px;
		@include letterspace(54, -25);
		@media (max-width: 1024px) {
			font-size: 48px;
			line-height: 54px;
			@include letterspace(42, -25);
		}
		@media (max-width: 480px) {
			font-size: 42px;
			line-height: 48px;
			@include letterspace(36, -25);
		}
	}

	h2, .h2 {
		font-weight: 700;
		font-size: 42px;
		line-height: 48px;
		margin-top: 46px;
		margin-bottom: 28px;
		@include letterspace(42, -25);
		@media (max-width: 1024px) {
			font-size: 36px;
			line-height: 42px;
			@include letterspace(36, -25);
		}
		@media (max-width: 480px) {
			font-size: 30px;
			line-height: 36px;
			@include letterspace(30, -25);
		}
	}

	h3, .h3 {
		font-weight: 600;
		font-size: 36px;
		line-height: 42px;
		margin-top: 40px;
		margin-bottom: 21px;
		@include letterspace(36, -25);
		@media (max-width: 1024px) {
			font-size: 30px;
			line-height: 36px;
			@include letterspace(30, -25);
		}
		@media (max-width: 480px) {
			font-size: 24px;
			line-height: 30px;
			@include letterspace(24, -25);
		}
	}

	h4, .h4 {
		font-weight: 500;
		font-size: 30px;
		line-height: 36px;
		margin-top: 36px;
		margin-bottom: 16px;
		@include letterspace(30, -25);
		@media (max-width: 1024px) {
			font-size: 24px;
			line-height: 30px;
			@include letterspace(24, -25);
		}
		@media (max-width: 480px) {
			font-size: 18px;
			line-height: 24px;
			@include letterspace(18, -25);
		}
	}

	h5, .h5 {
		font-weight: 500;
		font-size: 24px;
		line-height: 30px;
		margin-top: 31px;
		margin-bottom: 11px;
		@include letterspace(24, -25);
		@media (max-width: 1024px) {
			font-size: 18px;
			line-height: 24px;
			@include letterspace(18, -25);
		}
		@media (max-width: 480px) {
			font-size: 16px;
			line-height: 22px;
			@include letterspace(16, -25);
		}
	}

	h6, .h6 {
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		margin-top: 26px;
		margin-bottom: 10px;
		@media (max-width: 1024px) {
			font-size: 16px;
			line-height: 22px;
		}
		@media (max-width: 480px) {
			font-size: 14px;
			line-height: 20px;
			@include letterspace(14, -25);
		}
	}
	blockquote {
		margin-left: 0;
		border-left: 4px $primary solid;
		padding-left: 40px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 24px;
		line-height: 36px;
		font-weight: 500;
		font-family: $head-font;
		color: #000;
		display: block;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-right: 40px;
		p {
			font-size: 24px;
			line-height: 36px;
			font-weight: 500;
			font-family: $head-font;
			color: #000;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}

	ins {
		text-decoration: none;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		& > li {
			padding-left: 36px;
			position: relative;
			margin-top: 12px;
			margin-bottom: 12px;
			@media (max-width: 480px) {
				padding-left: 25px;
			}
			&:before {
				content: "\f621";
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				font-size: 11px;
				position: absolute;
				top: 10px;
				left: 0;
			}
		}
	}
	ol {
		padding-left: 36px;
		@media (max-width: 480px) {
			padding-left: 25px;
		}
		li {
			margin-top: 25px;
			margin-bottom: 25px;
		}
	}

	.pbcc, .pbcc-hv:hover, .man_sidebar .widget_mc4wp_form_widget, .comment-form .form-submit .submit, table thead th, .nav-links .page-numbers.current, .nav-links .page-numbers:hover, .woo-sidebar .widget_text h5:before, .woo-sidebar .widget_price_filter .ui-slider-horizontal .ui-slider-range, .woo-sidebar .widget_price_filter .ui-slider .ui-slider-handle, ul.products .archive-image-wrap .hidden-labels a:hover, body.single-product .content-area .woocommerce-product-gallery .flex-control-nav li.active, body.single-product .content-area .woocommerce-product-gallery .flex-control-nav li:hover, .woocommerce div.product div.images .woocommerce-product-gallery__trigger:before, .woocommerce div.product div.images .woocommerce-product-gallery__trigger:after, .quantity .quantity-wrap .quantity-control:hover, .woocommerce div.product form.cart .single_add_to_cart_button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, .woocommerce button.button.alt:hover, .wpcf7-form input[type=submit], .training-category a::before, .training-block-slider .owl-dots button.active, .pbcc-before:before, .pbcc-after:after, .ui-datepicker .ui-datepicker-current-day, .ui-datepicker tbody td:not(.ui-state-disabled):hover, .stm-cart-button .count, body.health_coach footer .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"]:not(:hover), .woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers.current, .woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers:hover, .woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers.next:hover, body.health_coach footer .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"]:not(:hover), .woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers.current, .woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers:hover, .woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers.next:hover, .training-block-slider-style_2 .training-slider .owl-nav button, .woocommerce-grouped-product-list-item__price .amount {
		background-color: $primary;
	}
	table {
		font-size: 18px;
		border-collapse: collapse;
		border: 1px rgba(0, 0, 0, .05) solid;
		margin-bottom: 25px;
		tr {
			transition: .3s;
		}
		td, th {
			padding: 12px 20px;
			border: 1px rgba(0, 0, 0, .05) solid;
		}
		tr.even {
			background-color: #f6f6f6;
		}
		thead {
			th {
				background-color: $primary;
				font-weight: 600;
				text-transform: uppercase;
			}
		}

	}
	dl {
		font-size: 18px;
		dt {
			margin-bottom: 6px;
			font-weight: 700;
		}
		dd {
			margin-bottom: 24px;
		}
	}
	address {
		margin-bottom: 18px;
	}
	.alignnone {
		margin: 5px 20px 20px 0;
	}

	.aligncenter,
	div.aligncenter {
		display: block;
		margin: 5px auto 5px auto;
	}

	.alignright {
		float: right;
		margin: 5px 0 20px 20px;
	}

	.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}

	a img.alignright {
		float: right;
		margin: 5px 0 20px 20px;
	}

	a img.alignnone {
		margin: 5px 20px 20px 0;
	}

	a img.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}

	a img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.hidden {
		display: none;
	}

	.wp-caption {
		background: #fff;
		border: 1px solid #f0f0f0;
		max-width: 100%; /* Image does not overflow the content area */
		padding: 5px 3px 10px;
		text-align: center;
	}

	.wp-caption.alignnone {
		margin: 5px 20px 20px 0;
	}

	.wp-caption.alignleft {
		margin: 5px 20px 20px 0;
	}

	.wp-caption.alignright {
		margin: 5px 0 20px 20px;
	}

	.text-center {
		text-align: center;
	}

	.wp-caption img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto;
	}

	.wp-caption p.wp-caption-text {
		font-size: 11px;
		line-height: 17px;
		margin: 0;
		padding: 0 4px 5px;
	}

	/* Text meant only for screen readers. */
	.screen-reader-text {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute !important;
		width: 1px;
		word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
	}

	.screen-reader-text:focus {
		background-color: #eee;
		clip: auto !important;
		clip-path: none;
		color: #444;
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
		/* Above WP toolbar. */
	}

	pre {
		background: #eee;
		font-family: monospace;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 24px;
		max-width: 100%;
		overflow: auto;
		padding: 24px;
	}

	code {
		font-family: monospace;
		color: #c7254e;
		background-color: #f9f2f4;
		padding: 2px 4px;
		border-radius: 4px;
		font-size: 18px;
	}

	.gallery {
		margin: 0 auto 18px;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.gallery .gallery-item {
		float: left;
		margin-top: 0;
		text-align: center;
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		padding: 0 10px;
	}

	.gallery .gallery-item .gallery-icon {
		margin-bottom: 10px;
	}

	.gallery-columns-2 .gallery-item {
		width: 50%;
	}

	.gallery-columns-3 .gallery-item {
		width: 33.333%;
	}

	.gallery-columns-4 .gallery-item {
		width: 25%;
	}

	.gallery-columns-5 .gallery-item {
		width: 20%;
	}

	.gallery-columns-6 .gallery-item {
		width: 16.666%;
	}

	.gallery-columns-7 .gallery-item {
		width: 14.28%;
	}

	.gallery-columns-8 .gallery-item {
		width: 12.5%;
	}

	.gallery-columns-9 .gallery-item {
		width: 11.111%;
	}

	.gallery-columns-10 .gallery-item {
		width: 10%;
	}

	.gallery img {

	}

	.gallery img:hover {
		background: white;
	}

	.gallery-columns-2 .attachment-medium {
		max-width: 92%;
		height: auto;
	}

	.gallery-columns-4 .attachment-thumbnail {
		max-width: 84%;
		height: auto;
	}

	.gallery .gallery-caption {
		color: #888;
		font-size: 14px;
		margin: 0 0 12px;
		line-height: 22px;
	}

	.gallery dl, .gallery dt {
		margin: 0;
	}

	.gallery br + br {
		display: none;
	}

	.text-upper {
		text-transform: uppercase;
	}

	.bypostauthor .comment-content {
		font-style: italic;
	}
	@media (min-width: 600px){
		.editor-block-list__layout .editor-block-list__block[data-align=full],
		.editor-block-list__layout .editor-block-list__block[data-align=full]>.editor-block-list__block-edit
		{
			max-width: 100%;
		}
	}
	.wp-caption.aligncenter {
		margin-bottom: 20px !important;
	}
	.wp-block-separator {
		margin-top: 24px;
		margin-bottom: 24px;
	}
}