@import "components/variables";
@import "components/mixins";
@import "components/keyframes";
@import "components/grid";
@import "components/buttons";
@import "components/typography";
@import "components/inputs";
@import "components/header";
@import "components/footer";
@import "components/portfolio";
@import "components/contact-form";
@import "components/404";
@import "components/blog";
@import "components/sidebar";
@import "components/datepicker";
@import "components/grouped-products";

@import "widgets/heading/heading";
@import "widgets/icon-box/icon-box";
@import "widgets/image/image";
@import "widgets/video/video";
@import "widgets/mailchimp/mailchimp";
@import "widgets/accordion/accordion";
@import "widgets/menu/menu";
body {
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	max-width: 100vw;
	overflow-x: hidden;
	& * {
		box-sizing: border-box;
	}
	& > #page {
		overflow: hidden;
	}
}
a {
	text-decoration: none;
	color: $primary;
}
a, button, .btn, input[type="submit"] {
	transition: .3s;
}
.reply a {
	color: #000;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
body:not(.woocommerce){
	figure {
		max-width: 100%;
	}
}
iframe {
	max-width: 100%;
}
@media (min-width: 539px){
	.full-width-container, .elementor-section-full_width {
		width: 100vw;
		position: relative;
		left: calc(-1 * (100vw - 100%) / 2);
		@media (min-width: 1440px){
			padding-left: 7px;
			padding-right: 7px;
		}
	}
}

.sm_display_inline {
	display: inline-block;
	vertical-align: top;
	width: auto !important;
}
.elementor-widget-button {
	//display: inline-block;
	vertical-align: top;
}
.a2a_s__default {
	background: #000 !important;
}
.entry-content {
	margin-bottom: 110px;
}


//------pages---------->
.main_intro_cont {
	padding-bottom: 80px;
	border-bottom: 1px #ededed solid;
	margin-bottom: 90px;
	padding-top: 25px;
	h1 {
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		margin-bottom: 0;
	}
}
body.page-template-page-full-width {
	.main_intro_cont {
		margin-bottom: 0 !important;
	}
}
.post-container {
	margin-bottom: 127px;
}
//-----search--------->
body.search {
	.no-results {
		margin-bottom: 40px;
	}
	&.search-results {
		#primary-content {
			article {
				img {
					margin-bottom: 30px;
				}
				.entry-summary {
					margin-bottom: 60px;
				}
			}
			.posts-navigation {
				margin-bottom: 60px;
			}
		}
	}
	.man_sidebar {
		margin-bottom: 80px;
	}
}
.search-form {
	position: relative;
	max-width: 300px;
	@media (max-width: 480px){
		max-width: 100%;
	}
	.search-field {
		padding: 13px 53px 13px 20px;
		font-size: 18px;
		width: 100%;
		height: 54px;
	}
	.search-submit {
		position: absolute;
		border-radius: 0 !important;
		width: 53px;
		height: 54px;
		top: 0;
		right: 0;
		padding: 0;
		&:hover {
			background-color: transparent;
		}
		i {
			font-size: 20px;
		}
	}
}


//----------comments--------->
.comments-area {
	margin-top: 60px;
	@media (min-width: 991px){
		padding-right: 30px;
	}
	@media (max-width: 767px){
		margin-top: 60px;
	}
	.comment {
		.comment-respond {
			margin-bottom: 55px;
		}
	}
	.comment-respond {
		.comment-reply-title {
			small {
				a {
					font-size: 18px;
					text-transform: none;
					color: #000;
					vertical-align: top;
				}
			}
		}
		.comment-form {
			display: flex;
			flex-wrap: wrap;
			& > p {
				width: 100%;
			}
			.comment-form-comment {
				order: 2;
			}
			.fields-row {
				order: 1;
				& > p {
					margin-bottom: 30px;
				}
			}
			.form-submit {
				order: 3;
				margin-bottom: 0;
				.submit {
					text-transform: uppercase;
					border: none;
					padding: 19px 40px 19px 40px;
				}
			}
			.comment-notes {
				display: none;
			}
		}
	}
	.comments-title {
		margin-bottom: 60px;
	}
	ol.comment-list {
		list-style: none;
		padding: 0;
		margin: 0 0 100px 0;
		li.pingback {
			padding-bottom: 25px;
			border-bottom: 1px #ededed solid;
		}
		ol.children {
			list-style: none;
			padding: 0 0 0 50px;
			margin: 0 0 100px 0;
			& > li article {
				//padding-left: 50px;
			}
		}
		li {
			article {
				padding-bottom: 55px;
				margin-bottom: 45px;
				border-bottom: 1px #ededed solid;
			}
			.comment-meta {
				position: relative;
				margin-bottom: 0px;
				.comment-metadata {
					& > a {
						position: absolute;
						top: 0;
						right: 0;
						font-size: 15px;
					}
					a {
						font-size: 15px;
					}
				}
				.comment-author {
					img {
						border-radius: 50%;
						float: left;
						margin-right: 50px;
					}
					.says {
						display: none;
					}
					b {
						font-weight: 500;
						font-size: 17px;
					}
				}
			}
			.comment-content {
				padding-left: 168px;
				font-size: 19px;
			}
			.reply {
				padding-left: 168px;
				a {
					font-weight: 600;
					font-size: 14px;
				}
			}
		}
	}
}


//--------unit-test------>
.post-password-form {
	input[type="password"] {
		padding: 12px 20px;
		border-radius: 50px;
		border-width: 2px;
		margin-bottom: 15px;
		height: 48px;
	}
	input[type="submit"] {
		background-color: #000;
		border-color: #000;
		color: #fff;
		padding: 14px 50px 13px 50px;
		height: 48px;
		&:hover {
			color: #000;
			background-color: #fff;
		}
	}
}
table {
	font-size: 18px;
	border-collapse: collapse;
	border: 1px rgba(0, 0, 0, .05) solid;
	margin-bottom: 25px;
	tr {
		transition: .3s;
	}
	td, th {
		padding: 12px 20px;
		border: 1px rgba(0, 0, 0, .05) solid;
		@media (max-width: 480px){
			padding: 6px 8px;
		}
	}
	tr.even {
		background-color: #f6f6f6;
	}
	thead {
		th {
			background-color: $primary;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
	@media (max-width: 767px){
		font-size: 16px;
	}
}
dl {
	font-size: 18px;
	dt {
		margin-bottom: 6px;
		font-weight: 700;
	}
	dd {
		margin-bottom: 24px;
	}
}
address {
	margin-bottom: 18px;
}
//--------pagination------>
.post-pagination {
	text-align: center;
	clear: both;
	.page-num {
		display: inline-block;
		width: 49px;
		height: 49px;
		text-align: center;
		color: #000;
		font-size: 18px;
		border-radius: 50%;
		background-color: #ffc03f;
		line-height: 49px;
		transition: .3s;
		margin: 0 4px;
	}
	a {
		.page-num {
			background-color: #f0e7d6;
		}
		&:hover {
			.page-num {
				background-color: #ffc03f;
			}
		}
	}
}
//---------post-archive------>
.single-thumbnail {
	overflow: hidden;
	a {
		display: inline-block;
		overflow: hidden;
		vertical-align: top;
	}
}
.one-post-content {
	margin-bottom: 66px;
	.post-excerpt {
		margin-bottom: 30px;
	}
	.post-date {
		margin-bottom: 5px;
	}
	h3 {
		transition: .3s;
		margin-bottom: 18px;
		margin-top: 0;
		word-break: break-word;
	}
	.single-thumbnail {
		margin-bottom: 30px;
		position: relative;
		.sticky-label {
			position: absolute;
			left: 0;
			bottom: 0;
			margin-bottom: 0;
			z-index: 2;
		}
		a {
			position: relative;
			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background-color: rgba(0, 0, 0, .3);
				opacity: 0;
				transition: .3s;
				z-index: 1;
			}
		}
		&:hover a:before {
			opacity: 1;
		}
	}
	&.post-format-video {
		.single-thumbnail {
			a {
				position: relative;
				display: inline-block;
				.mc-play {
					color: #fff;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 75px;
					z-index: 2;
				}
			}
		}
	}
}

.sticky-label {
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	line-height: 29px;
	padding: 2px 8px 0;
	margin-bottom: 20px;
}

.nav-links {
	.page-numbers {
		display: inline-block;
		width: 49px;
		height: 49px;
		line-height: 49px;
		text-align: center;
		color: #000;
		border-radius: 50%;
		background-color: #f0e7d6;
		vertical-align: top;
		font-size: 18px;
		text-transform: uppercase;
		margin-right: 5px;
		&.prev {
			width: auto;
			color: #fff;
			padding: 0 22px;
			border-radius: 50px;
			background-color: #000;
			padding-right: 33px;
			margin-right: 16px;
			&:before {
				content: "\f0d9";
				font-family: 'FontAwesome';
				font-size: 14px;
				margin-right: 18px;
			}
		}
		&.next {
			width: auto;
			color: #fff;
			padding: 0 22px;
			border-radius: 50px;
			background-color: #000;
			padding-left: 33px;
			margin-left: 16px;
			&:after {
				content: "\f0da";
				font-family: 'FontAwesome';
				font-size: 14px;
				margin-left: 18px;
			}
		}
		&.current {
			background-color: $primary;
		}
		&.dots {
			background: none !important;
			width: 53px;
		}
		&:hover {
			background-color: $primary;
			color: #000;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

.archive-wrap {
	margin-bottom: 127px;
}
//---------slick------>
.slick-slide {
	outline: none;
}
.slick-arrow {
	width: auto;
	height: auto;
	font-size: 0;
	&:before {
		font-size: 28px;
		color: rgba(0, 0, 0, .5);
		font-family: 'betop' !important;
		opacity: 1;
	}
}
.slick-next {
	right: -57px;
	@media (max-width: 480px) {
		right: -27px;
	}
	@media (max-width: 350px) {
		right: -17px;
	}
	&:before {
		content: "\e960" !important;
	}
}
.slick-prev {
	left: -57px;
	@media (max-width: 480px) {
		left: -27px;
	}
	@media (max-width: 350px) {
		left: -17px;
	}
	&:before {
		content: "\e95f" !important;
	}
}
//---------select2----->
.select2 {
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	&-container--default {
		.select2-selection {
			outline: none;
			&--single {
				height: auto;
				border-radius: 0;
				border-color: #ebebeb;
				.select2-selection__arrow {
					top: 50%;
					right: 8px;
					transform: translateY(-50%);
					b {
						border: none;
						vertical-align: top;
						margin-top: -9px;
						&:before {
							content: "\f107";
							font-family: 'FontAwesome';
							vertical-align: top;
						}
					}
				}
			}
			&__rendered {
				padding: 10px 30px 10px 10px !important;
			}
		}
		.select2-results>.select2-results__options {
			font-size: 14px;
			max-height: 212px;
			border: 1px #ebebeb solid;
			border-top: none;
		}
	}
}
.select2-dropdown {
	border: none;
	border-right: 0;
}
.select2-results__options {
	li {
		transition: .3s;
	}
}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
	background-color: #000;
	color: $primary;
}
.select2-results__options {
	outline: none;
	li {
		outline: none;
	}
}
fieldset {
	margin-bottom: 30px;
}
@media (max-width: 1024px) {
	.phone-num {
		font-size: 28px !important;
	}
}
//Preloader
#page {
	&.unload {
		position: relative;
		height: 100vh;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -15px;
			margin-top: -15px;
			border: 2px solid rgba(0,0,0,.5);
			border-radius: 30px;
			height: 30px;
			width: 30px;
			animation: pulse 1.5s ease-out;
			animation-iteration-count: infinite;
			z-index: 99999;
		}
		&:after {
			content: '';
			position: fixed;
			display: block;
			left: 0;
			top: 0;
			background-color: #fff;
			z-index: 9999;
			width: 100%;
			height: 100%;
		}
	}
}
@-webkit-keyframes pulse {
	0% {
		opacity: 1;
		transform: scale(.1);
	}
	100% {
		opacity: 0;
		transform: scale(1.2);
	}
}
@keyframes pulse {
	0% {
		opacity: 1;
		transform: scale(.1);
	}
	100% {
		opacity: 0;
		transform: scale(1.2);
	}
}