@import "components/variables";
@import "components/mixins";
.woocommerce-products-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	& > h2 {
		margin-top: 0;
	}
}
body.post-type-archive-product {
	#content:not(.no-title-box){
		.woocommerce-products-header__title {
			font-weight: 700;
			font-size: 42px;
			line-height: 48px;
			@include letterspace(42, -25);
			@media (max-width: 1024px) {
				font-size: 36px;
				line-height: 42px;
				@include letterspace(36, -25);
			}
			@media (max-width: 480px) {
				font-size: 30px;
				line-height: 36px;
				@include letterspace(30, -25);
			}
		}
	}
}
.woocommerce-result-count {
	display: none;
}
.woocommerce form .form-row textarea {
	min-height: 184px;
}
.woo-sidebar {
	margin-bottom: 80px;
	@media (max-width: 1199px){
		margin-bottom: 40px;
	}
	@media (min-width: 1200px){
		padding-left: 0;
		padding-right: 0;
		.inner-wrapper-sticky {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	section ul a {
		color: #515254;
	}
	font-size: 19px;
	h5 {
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 0;
		@include letterspace(20, -10);
	}
	.widget_text {
		h5 {
			font-size: 24px;
			position: relative;
			margin-top: -2px;
			@include letterspace(24, -25);
			&:before {
				content: '';
				display: block;
				width: 19px;
				height: 3px;
				background-color: $primary;
				bottom: -19px;
				position: absolute;
				left: 0;
			}
		}
	}
	& section {
		margin-bottom: 56px;
	}

}
#content {
	.product-categories {
		list-style: none;
		padding: 0;
		margin: 0;
		h5 {
			margin-bottom: 7px;
		}
		li {
			font-size: 19px;
			color: #515254;
			padding: 11px 0;
			a {
				color: #515254;
				&:hover {
					color: $primary;
				}
			}
			&:not(:last-child){
				border-bottom: 1px #ebebeb solid;
			}
		}
	}
	.widget_price_filter {
		.price_slider_wrapper {
			.ui-widget-content {
				background-color: #000;
				margin-bottom: 32px;
			}
		}
		.ui-slider-horizontal {
			height: 2px;
			.ui-slider-range {
				background-color: $primary;
			}
		}
		.ui-slider {
			.ui-slider-handle {
				width: 18px;
				height: 18px;
				top: -8px;
				border: 2px #fff solid;
				background-color: $primary;
			}
		}
		.price_slider_amount {
			.button {
				display: none;
			}
			.price_label {
				font-size: 0;
				text-align: center;
				overflow: hidden;
				span {
					font-size: 18px;
					display: inline-block;
					border: 1px #ebebeb solid;
					padding: 0 24px;
					line-height: 39px;
					&.from {
						float: left;
					}
					&.to {
						float: right;
					}
				}
			}
		}
	}
	.widget_layered_nav {
		ul {
			li {
				margin-bottom: 11px;
				.color_label {
					display: inline-block;
					width: 12px;
					height: 12px;
					margin-right: 20px;
				}
				a {
					color: #515254;
					&:hover {
						color: $primary;
					}
				}
			}
		}
	}
	.widget_top_rated_products {
		ul {
			li {
				padding: 0;
				margin-bottom: 30px;
				&:last-child{
					margin-bottom: 0;
				}
				a {
					font-weight: 400;
					img {
						float: left;
						margin-left: 0;
						width: 69px;
						margin-right: 23px;
					}
					.product-title {
						font-size: 17px;
					}
					&:hover {
						color: $primary;
					}
				}
				.amount {
					font-size: 21px;
					text-decoration: none;

				}
				del {
					display: none;
				}
				ins {
					text-decoration: none;
				}
				.star-rating {
					display: none;
				}
			}
		}
	}
}
.add-to-cart-label {
	display: none;
}
ul.products .archive-image-wrap .hidden-labels a:hover {
	background-color: #ccc;
}
.archive-image-wrap {
	display: block;
	position: relative;
	overflow: hidden;
	.product-img-link {
		display: block;
		position: relative;
		overflow: hidden;
		img {
			margin-bottom: 0 !important;
		}
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: rgba(0, 0, 0, .3s);
			opacity: 0;
			transition: .3s;
		}
	}

	.hidden-labels {
		position: absolute;
		left: 50%;
		top: 70%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		z-index: 2;
		opacity: 0;
		transition: .3s;
		.button, .tinvwl_add_to_wishlist_button, a {
			margin-top: 0 !important;
		}
		.added_to_cart {
			position: absolute;
			top: 115%;
			color: #fff;
			font-size: 14px;
			background-color: #000 !important;
			padding: 0 10px;
			font-weight: 700;
			transition: .3s;
			&:hover {
				color: #fff !important;
				background-color: #ccc !important;
			}
		}
		.tinv-wraper {
			width: 61px;
			height: 61px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}
		.add_to_cart_button {
			font-size: 0;
			line-height: 30px;
			padding: 15px 0 16px 0;
			width: 61px;
			text-align: center;
			position: relative;
			background-color: #fff;
			border-radius: 0;
			margin: 0 10px;
			&:before {
				content: "\e951";
				font-family: 'betop';
				font-size: 28px;
				vertical-align: middle;
				color: #fff;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: -11px;
				width: 100%;
				height: 12px;
			}
			.add-to-cart-label {
				font-size: 12px;
				display: inline-block !important;
				color: #fff;
				background-color: #000;
				text-transform: uppercase;
				line-height: 27px;
				width: 120px;
				text-align: center;
				position: absolute;
				top: -28px;
				left: 50%;
				transform: translateX(-50%);
				font-weight: 500;
				transition: .3s;
				opacity: 0;
			}
			&:hover {
				background-color: $primary;
				.add-to-cart-label {
					top: -38px;
					opacity: 1;
				}
			}
		}
		.stm_single_product__more {
			width: 61px;
			height: 61px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			i {
				font-size: 28px;
				color: #fff;
			}
			&:hover {
				background-color: $primary;
			}
		}
		.tinvwl_add_to_wishlist_button {
			width: 61px !important;
			height: 61px !important;
			background-color: #fff;
			&:before {
				font-size: 44px;
				margin: 0 !important;
				transform: translate(-50%, -50%);
				color: #fff;
			}
			&:hover {
				background-color: $primary;
			}
		}
	}
	&:hover {
		.product-img-link:before {
			opacity: 1;
		}
		& .hidden-labels {
			opacity: 1;
			top: 50%;
		}
	}
}
.woocommerce ul.products {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 37px;
	margin-left: -15px;
	margin-right: -15px;
	li {
		margin-bottom: 30px !important;
		margin-right: 0 !important;
		padding: 0 15px !important;
		.archive-image-wrap {
			border: 1px #ebebeb solid;
			border-bottom: none;
		}
		.archive-product-meta {
			border: 1px #ebebeb solid;
			min-height: 140px;
			border-top: none;
		}
	}

}
.woocommerce ul.products.columns-6 {
	& > li {
		flex: 0 0 16.66%;
		width: 16.66%;
		max-width: 16.66%;
	}
}
.woocommerce ul.products.columns-5 {
	& > li {
		flex: 0 0 20%;
		width: 20%;
		max-width: 20%;
	}
}
.woocommerce ul.products.columns-4 {
	& > li {
		flex: 0 0 24.9%;
		width: 24.9%;
		max-width: 24.9%;
	}
}
.woocommerce ul.products.columns-3 {
	& > li {
		flex: 0 0 33.2%;
		width: 33.2%;
		max-width: 33.2%;
	}
}
.woocommerce ul.products.columns-2 {
	& > li {
		flex: 0 0 50%;
		width: 50%;
		max-width: 50%;
	}
}
.woocommerce ul.products.columns-1 {
	& > li {
		flex: 0 0 100%;
		width: 100%;
		max-width: 100%;
	}
}
.woocommerce ul.products li.product .archive-product-meta {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 25px 30px 15px 30px;
	flex-direction: column;
	.star-rating {
		margin: 0 auto 12px auto !important;
		display: flex;
		order: 1;
		font-size: 12px !important;
	}
	& > a {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		order: 2;
		h2 {
			text-transform: none;
			font-size: 22px !important;
			font-weight: 600 !important;
			letter-spacing: 0;
			padding: 0;
			transition: .3s;
			line-height: 28px;
			margin-bottom: 5px;
		}
		&:hover {
			h2 {
				color: $primary
			}
		}
	}
	.price {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		order: 3;
		color: #000;
		text-align: center;
		justify-content: center;
		font-size: 16px;
		font-weight: 600;
		ins {
			text-decoration: none;
			font-weight: 600;
		}
		del {
			margin-right: 5px;
			opacity: .3;
			color: #000;
			font-weight: 600;
		}
	}
}
.woocommerce .star-rating::before {
	content: '\53\53\53\53\53';
}
.woocommerce .star-rating {
	span {
		&:before {
			white-space: nowrap;
		}
	}
}
.onsale {
	display: none;
}
body.post-type-archive-product {
	#content {
		margin-bottom: 110px;
	}
}
.woocommerce .woocommerce-pagination {
	text-align: left !important;
	ul.page-numbers {
		border: none;
		li {
			border: none;
			.page-numbers {
				display: inline-block;
				width: 49px;
				height: 49px;
				line-height: 49px;
				text-align: center;
				color: #000;
				border-radius: 50%;
				background-color: #f0e7d6;
				vertical-align: top;
				font-size: 18px;
				text-transform: uppercase;
				margin-right: 5px;
				padding: 0;
				&:hover {
					background-color: $primary;
				}
				&.prev {
					width: auto;
					color: #fff;
					padding: 0 22px;
					border-radius: 50px;
					background-color: #000;
					padding-right: 33px;
					margin-right: 16px;
					&::before {
						content: "\f0d9";
						font-family: 'FontAwesome';
						font-size: 14px;
						margin-right: 18px;
					}
					&:hover {
						background-color: $primary;
						color: #000;
					}
				}
				&.next {
					width: auto;
					color: #fff;
					padding: 0 22px;
					border-radius: 50px;
					background-color: #000;
					padding-left: 33px;
					margin-left: 16px;
					&::after {
						content: "\f0da";
						font-family: 'FontAwesome';
						font-size: 14px;
						margin-left: 18px
					}
					&:hover {
						background-color: $primary;
						color: #000;
					}
				}
				&.current {
					background-color: $primary;
				}
				&.dots {
					background: none !important;
					width: 53px;
				}
			}
		}

	}
}
body.single-product {
	.content-area {
		.woocommerce-product-gallery {
			&::before {
				content: '';
				display: block;
				right: -20px;
				top: -20px;
				background-color: $primary;
				position: absolute;
				width: 100px;
				height: 100px;
			}
			.flex-control-nav {
				position: absolute;
				bottom: 25px;
				left: 25px;
				width: auto;
				right: 25px;
				padding: 5px !important;
				li {
					width: 13px !important;
					height: 13px;
					background-color: #acacac;
					display: inline-block;
					margin-right: 7px !important;
					border-radius: 50%;
					clear: none !important;
					transition: .3s;
					position: relative;
					img {
						opacity: 0 !important;
						position: relative;
						z-index: 2;
					}
					span {
						display: inline-block;
						width: 13px;
						height: 13px;
						position: absolute;
						transition: .3s;
						border-radius: 50%;
						background-color: #acacac;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
					}
					&:hover {
						span {
							background-color: $primary;
							transform: translate(-50%, -50%) scale(1.3);
						}
					}
					img.flex-active + span {
						background-color: $primary;
						transform: translate(-50%, -50%) scale(1.3);
					}

				}
			}
		}
		.summary {
			@media(min-width: 769px){
				padding-left: 24px;
			}
			.product_title {
				text-transform: none;
				margin-top: 38px;
				font-weight: 600;
				@media (max-width: 768px){
					margin-bottom: 20px;
				}
			}
		}

	}
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
	top: auto;
	bottom: 21px;
	right: 11px;
	background: none;
	&:before {
		width: 1px;
		height: 28px;
		background-color: $primary;
		border-radius: 0;
		border: none;
	}
	&:after {
		width: 1px;
		height: 28px;
		background-color: $primary;
		transform: rotate(-90deg);
		top: 9px;
		left: 9px;
	}
}
.quantity {
	margin-right: 11px !important;
	.quantity-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.quantity-control {
			display: inline-block;
			border-width: 1px;
			border-style: solid;
			color: #000;
			font-weight: 400;
			line-height: 48px;
			background-color: #fff;
			transition: .25s;
			cursor: pointer;
			&:hover {
				background-color: $primary;
			}
			&.quantity-minus {
				padding-right: 13px;
				padding-left: 18px;
				border-radius: 50px 0 0 50px;
			}
			&.quantity-plus {
				padding-right: 20px;
				padding-left: 16px;
				border-radius: 0 50px 50px 0;
			}
		}
		input {
			width: 42px !important;
			text-align: center;
			border-left: none;
			border-right: none;
			border-width: 1px;
			outline: none;
			padding: 13px 0;
			height: 50px;
			background-color: #fff2d6;
			border-top-style: solid;
			border-radius: 0;
			box-shadow: none;
			-moz-appearance:textfield;
			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			@media (max-width: 1100px){
				width: 46px !important;
			}
		}
	}
	label {
		font-weight: 600;
		display: block;
		margin-bottom: 10px;
		font-size: 17px;
		text-transform: uppercase;
		@media (max-width: 767px){
			font-size: 15px;
		}
	}
}
body.single-product {
	.quantity .quantity-wrap {
		.quantity-control {
			line-height: 59px;
		}
		input {
			height: 61px;
		}
	}
}
.woocommerce div.product form.cart {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	margin-bottom: 20px;
	.single_add_to_cart_button {
		padding: 22px 33px 21px 33px;
		text-transform: uppercase;
		font-weight: 600;
		background-color: #000;
		margin-top: 10px;
		&:hover {
			background-color: $primary;
			color: #000;
		}
	}
}
.woocommerce div.product div.images.woocommerce-product-gallery {
	margin-bottom: 54px;
}
.woocommerce div.product {
	.woocommerce-product-rating {
		font-size: 15px;
		.woocommerce-review-link {
			color: inherit;
			text-transform: uppercase;
		}
	}
	.woocommerce-product-details__short-description {
		padding-bottom: 15px;
		border-bottom: 1px #ededed solid;
		margin-bottom: 38px;
		color: #515254;
	}
	.woocommerce-Tabs-panel--additional_information, .woocommerce-Tabs-panel--reviews {
		h2 {
			display: none;
		}
	}
	.woocommerce-Tabs-panel--reviews {
		label, .comment-reply-title {
			font-weight: 700;
			display: block;
		}
		.comment-notes {
			margin-bottom: 30px !important;
		}
		.comment-form-rating {
			margin-bottom: 30px;
			width: 100%;
			.select2 {
				width: 280px !important;
			}
		}
		.commentlist {
			margin-bottom: 30px !important;
			padding-left: 0;
			.comment_container {
				img.avatar {
					width: 60px !important;
					border-radius: 50%;
					@media (max-width: 767px){
						width: 40px !important;
					}
				}
				.comment-text {
					margin-left: 70px !important;
					@media (max-width: 767px){
						margin-left: 50px !important;
					}
					.description {
						@media(max-width: 480px){
							font-size: 16px;
							line-height: 24px;
						}
					}
				}
			}
		}
		.comment-form-comment {
			flex: 0 0 100%;
			width: 100%;
			textarea {
				min-height: 180px;
			}
		}
		.comment-form-author {
			flex: 0 0 50%;
			width: 50%;
			padding-right: 15px;
			input {
				width: 100%;
			}
			margin-bottom: 30px !important;
			@media (max-width: 767px){
				flex: 0 0 100%;
				width: 100%;
				padding-right: 0;
			}
		}
		.comment-form-email {
			flex: 0 0 50%;
			width: 50%;
			padding-left: 15px;
			input {
				width: 100%;
			}
			margin-bottom: 30px !important;
			@media (max-width: 767px){
				flex: 0 0 100%;
				width: 100%;
				padding-left: 0;
			}
		}
		.comment-form {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.form-submit {
			.submit {
				font-weight: 600 !important;
				text-transform: uppercase;
				background-color: $primary;
				color: #000 !important;
				padding: 22px 33px 21px 33px !important;
				font-size: 18px !important;
				&:hover {
					background-color: #000 !important;
					color: #fff !important;
				}
			}
		}
	}
	.single-price-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.addtoany_shortcode {
			@media (max-width: 480px){
				width: 100%;
				margin-bottom: 30px;
			}
			.addtoany_list {
				a {
					padding: 0 6px;
					.a2a_s__default {
						width: 34px !important;
						height: 34px !important;
						line-height: 17px !important;
						background-color: #e5e5e5 !important;
						transition: .3s;
					}
					&:hover {
						.a2a_s__default {
							background-color: #000 !important;
						}
					}
				}
			}
		}
		.price {
			color: #000;
			font-size: 47px;
			font-weight: 500;
			margin-bottom: 44px;
			line-height: 50px;
		}
	}
	.product_meta {
		display: none;
	}
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	border-color: #ededed;
}
.woocommerce a.button, .woocommerce input.button {
	font-weight: 600 !important;
	text-transform: uppercase;
}
ul.tabs {
	padding-left: 0 !important;
	li {
		border: none !important;
		background: none !important;
		margin: 0 !important;
		&:first-child {
			padding-left: 0 !important;
		}
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
		a {
			font-size: 23px;
			text-transform: uppercase;
			background: none;
			color: #8d8d8d !important;
			font-weight: 600 !important;
		}
		&.active {
			a {
				border-bottom: 2px $primary solid;
				color: #000 !important;
			}
		}
	}
}
.woocommerce ul.products li.product .price ins {
	font-weight: 400;
}
.panel {
	color: #515254;
	&.woocommerce-Tabs-panel--description {
		h2 {
			display: none;
		}
		ul {
			list-style: none;
			margin: 0 0 30px 0;
			padding: 0;
			li {
				padding-left: 43px;
				position: relative;
				margin-top: 20px;
				margin-bottom: 20px;
				&:before {
					content: "\f058";
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					font-size: 15px;
					position: absolute;
					top: 11px;
					left: 0;
				}
			}
		}
	}
}
.woocommerce #reviews #comments ol.commentlist li .meta {
	.woocommerce-review__author {
		color: #000;
	}
	.woocommerce-review__published-date {
		font-size: 14px;
	}
}
.woocommerce-tabs {
	margin-bottom: 60px;
	@media (max-width: 1024px){
		margin-bottom: 50px;
	}
	@media (max-width: 767px){
		margin-bottom: 40px;
		& ul.wc-tabs {
			&:before {
				opacity: 0;
			}
		}
	}
}
.full-width-container.related {
	padding-top: 60px;
	padding-bottom: 60px;
	border-top: 1px #f2f2f2 solid;
	@media (max-width: 1024px){
		padding-top: 50px;
	}
	@media (max-width: 767px){
		padding-top: 40px;
	}
	@media (max-width: 538px){
		& > .container {
			padding-left: 0;
			padding-right: 0;
		}
	}
	h2 {
		margin-top: 0;
	}
}
.hidden-labels {
	& > .button.product_type_grouped,
	& > .button.product_type_variable,
	& > .button.product_type_external {
		display: none;
	}
}

.quantity-label {
	//text-align: center;
}
.woocommerce table.shop_attributes {
	border-style: solid;
	td {
		font-style: normal;
		padding: 15px;
		border-style: solid;
	}
	th {
		border-style: solid;
		padding: 15px;
		text-align: left;
	}
}
.woocommerce table.shop_attributes td p {
	padding: 8px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	font-weight: 600 !important;
	text-transform: uppercase;
	color: #fff;
	background-color: #000;
	border-radius: 50px;
	&:hover {
		background-color: $primary;
		color: #000;
	}
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	margin-right: 2.5%;
	width: 23.05%;
	@media (max-width: 768px){
		margin-right: 1% !important;
	}
}
.woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
	margin-right: 0;
}
.woocommerce-message {
	a {
		font-size: 17px !important;
		margin-left: 10px !important;
		@media (max-width: 480px){
			float: none !important;
			margin-left: 0 !important;
			margin-bottom: 20px !important;
			display: block;
			text-align: center;
		}
	}
	@media (max-width: 480px){
		padding: 10px 15px !important;
		&:before {
			display: none !important;
		}
	}
}
.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
	top: 28px;
}
.woocommerce-cart table.cart .product-thumbnail {
	text-align: center;
	img {
		width: 50px;
	}
}
.woocommerce-cart table.cart .product-name {
	font-weight: 700;
	a {
		color: #000 !important;
	}
}
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
	color: #fff;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce button.button.alt {
	display: inline-block;
	padding: 17px 40px;
	font-size: 18px;
	background-color: #000;
	&:hover {
		background-color: $primary;
		color: #000;
	}
}
.coupon {
	input[name="coupon_code"] {
		margin-right: 20px !important;
		width: 216px !important;
		font-size: 18px;
		@media (max-width: 400px){
			&#coupon_code {
				margin-right: 0 !important;
				width: 100% !important;
				max-width: 100% !important;
			}
		}
	}
	.button {
		padding-top: 12px !important;
		padding-bottom: 12px !important;
		@media (max-width: 400px){
			padding-top: 11px !important;
			padding-bottom: 11px !important;
			width: 100% !important;
			margin-top: 10px !important;
			font-size: 18px !important;
		}
	}
}
.woocommerce-cart-form {
	margin-bottom: 80px;
}
.woocommerce-MyAccount-navigation {
	li {
		&.is-active {
			font-weight: bold;
		}
	}
}
.tinvwl-table-manage-list {
	.tinvwl-input-group-btn {
		padding-left: 15px;
	}
	.product-action {
		button[name="tinvwl-add-to-cart"] {
			i {
				display: inline-block !important;
			}
			span {
				display: none !important;
			}
		}
	}
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
	position: relative;
}
.woocommerce div.product form.cart .group_table td:first-child {
	width: auto;
}
.woocommerce div.product form.cart .group_table td {
	vertical-align: bottom;
}
.single-training-wrapper {
	.product_title {
		display: none;
	}
	.addtoany_shortcode {
		display: none;
	}
	.product_meta {
		display: none;
	}
	.group_table {
		width: 100%;
	}
	.price {
		font-size: 47px;
		font-weight: 400;
	}
	&__image {
		margin-bottom: 75px;
	}
	&__content {
		& > h2 {
			margin-top: 0;
		}
		.content {
			margin-bottom: 24px;
		}
	}
	.training-actions {
		margin-bottom: 100px;
		.woocommerce-product-details__short-description {
			display: none;
		}
	}
}
.woocommerce table.shop_table {
	border-collapse: collapse;
	td, th {
		border-right: none;
		border-left: none;
	}
	td {
		padding-top: 13px;
		padding-bottom: 13px;
	}
	td.actions {
		padding: 20px 15px;
	}
	td.product-name {
		font-weight: 500;
	}
	td.product-quantity {
		.quantity {
			text-align: left;
		}
		.quantity-wrap {
			justify-content: flex-start;
			@media (max-width: 768px){
				justify-content: flex-end;
			}
		}
	}
	@media (max-width: 768px){
		.quantity {
			margin-right: 0 !important;
		}
		td {
			border-top: none;
			&:before {
				line-height: 25px;
			}
		}
	}
	td.product-price,
	td.product-subtotal
	{
		font-weight: 500;
	}
	td.actions {
		.coupon {
			#coupon_code {
				padding: 15px 10px !important;
			}
			button {
				padding: 17px 40px !important;
			}
		}
		button[name="update_cart"]{
			padding: 17px 40px;
		}
	}
	.product-remove {
		text-align: center;
		a.remove {
			margin: 0;
			display: inline-block;
		}
	}
}
form.woocommerce-checkout {
	#customer_details {
		margin-bottom: 40px;
		margin-right: -15px;
		margin-left: -15px;
		div {
			h3 {
				margin-top: 0;
			}
		}
		@media (max-width: 1200px){
			margin-right: 0;
			margin-left: 0;
		}
	}
	.select2-container--default .select2-selection__rendered {
		line-height: 42px;
		padding-left: 20px !important;
		min-height: 62px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		right: 15px;
	}
	#order_review {
		display: flex;
		flex-wrap: wrap;
		& > table.woocommerce-checkout-review-order-table {
			flex: 0 0 calc(50% - 15px);
			width: calc(50% - 15px);
			margin-right: 15px;
		}
		.woocommerce-checkout-payment {
			flex: 0 0 calc(50% - 15px);
			width: calc(50% - 15px);
			margin-left: 15px;
			.woocommerce-privacy-policy-text {
				font-size: 16px;
			}
			.methods, .place-order {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
		@media (max-width: 768px){
			& > table.woocommerce-checkout-review-order-table,
			.woocommerce-checkout-payment {
				flex: 0 0 100%;
				width: 100%;
				margin: 0 0 30px 0;
			}
		}
		td.product-total {
			font-weight: 500;
		}
	}
	.shop_table {
		td, th {
			padding-left: 20px;
			padding-right: 20px;
		}
		.product-name {
			strong {
				font-weight: 400;
			}
		}
	}
}
.woocommerce-MyAccount-navigation {
	ul {
		padding: 0;
		list-style: none;
		margin-top: 0;
		li {
			padding-left: 30px;
			position: relative;
			color: #a8a9ab;
			margin-bottom: 15px;
			&:before {
				content: "\f105";
				font-family: FontAwesome;
				position: absolute;
				left: 0;
				top: 10px;
				color: #515254;
				font-size: 15px;
				transition: .2s;
			}
			&:hover {
				&:before {
					left: 5px;
				}
			}
			a {
				color: #515254;
			}
		}
	}
}
.woocommerce-cart-form__cart-item {
	.product-quantity {
		.quantity-label {
			display: none;
		}
	}
}
.repeatable-product {
	& > .single-price-wrap {
		display: none;
	}
}
@media (max-width: 768px){
	.woocommerce #reviews #comments ol.commentlist ul.children {
		margin-left: 6px;
	}
	.woocommerce-billing-fields {
		margin-bottom: 30px;
	}
	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
		flex: 0 0 49.9%;
		max-width: 49.9%;
		width: 49.9%;
		margin-right: 0 !important;
	}
	.woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers {
		&.prev, &.next {
			font-size: 0;
			position: relative;
			padding: 0 24px 0 25px;
			&:before, &:after {
				font-size: 14px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				margin: 0;
			}
		}
		&.prev {
			margin-right: 10px;
		}
		&.next {
			margin-left: 5px;
		}
	}
}
.cart_totals {
	h2 {
		margin-top: 0;
	}
}
@media (max-width: 480px){
	.woocommerce form.woocommerce-form-login .form-row {
		.woocommerce-form__label-for-checkbox {
			display: block;
		}
	}
	.woocommerce {
		.coupon {
			#coupon_code {
				max-width: 48% !important;
				margin-right: 2% !important;
			}
			.button {
				font-size: 16px;
				padding-left: 12px;
				padding-right: 12px;
			}
		}
	}
	.woocommerce form.woocommerce-cart-form table.shop_table td {
		padding: 12px 15px;
	}
}

@media (max-width: 380px){
	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
		flex: 0 0 100%;
		max-width: 100%;
		width: 100%;
	}
}
.ui-datepicker {
	background-color: #fff;
	td {
		text-align: center;
		padding: 8px 15px;
	}
}
@media (max-width: 992px){
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		font-size: 21px;
		white-space: nowrap;
	}
}

@media (max-width: 767px){
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		padding: 0;
		width: 100%;
	}

}