.coach-link a {
	color: inherit;
}
.coach-tabs {
	&__list {
		border-bottom: 1px #f2f2f2 solid;
		text-align: center;
		.catergory-tab-link {
			color: inherit;
			display: block;
			padding-bottom: 40px;
			position: relative;
			height: 100%;
			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: .3s;
				opacity: 0;
			}
			.category-icon {
				margin-bottom: 20px;
				i {
					transition: .3s;
					font-size: 46px;
				}
			}
			.coach-cat-title {
				font-size: 20px;
				text-transform: uppercase;
				font-weight: 600;
			}
			.coach-cat-description {
				font-size: 18px;
				line-height: 20px;
			}
			&.active, &:hover {
				&:before {
					opacity: 1;
				}
			}
		}
	}
	&__posts {
		padding-top: 66px;
		background-position: top right;
		background-repeat: no-repeat;
		.coach-tab {
			transition: .3s;
			display: none;
			&.active {
				display: block;
			}
			.coach-img-wrap {
				position: relative;
				.coach-price {
					position: absolute;
					top: 60px;
					right: 0;
					transform: translateX(50%);
					text-align: center;
					padding: 30px 30px;
					.head-font {
						font-size: 35px;
						font-weight: 600;
					}
					.price-affix {
						line-height: 28px;
					}
				}
			}
			.coach-content {
				padding-left: 137px;
				padding-top: 93px;
				h2 {
					margin-top: 0;
					margin-bottom: 46px;
				}
				.coach-content__excerpt {
					margin-bottom: 24px;
				}
				.coach-link {
					margin-bottom: 44px;
					a {
						border-width: 0 0 2px 0;
						border-style: solid;
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.coach-tabs__list .catergory-tab-link:before {
		display: none;
	}
}
@media (max-width: 991px) {
	.coach-tabs__posts .coach-tab .coach-content {
		padding-left: 0;
		padding-top: 40px;
	}
	.coach-tabs__posts .coach-tab .coach-img-wrap .coach-price {
		transform: none;
		bottom: 0;
		top: auto;
		right: auto;
		left: 0;
		padding: 10px;
		.head-font {
			font-size: 20px;
			line-height: 20px;
		}
		.price-affix {
			font-size: 16px;
			line-height: 18px;
		}
	}
}
@media (max-width: 480px){
	.coach-tabs__posts .coach-tab .coach-content h2 {
		font-size: 32px;
		line-height: 32px;
		margin-bottom: 20px;
	}
}