@import "../../components/variables";
@import "../../components/mixins";
.coach-calendar {
	.title-btn {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 25px;
		h2 {
			margin-bottom: 18px;
			margin-right: 20px;
			margin-top: 0;
		}
		.btn {
			font-size: 20px;
			@include letterspace(-25, 20);
			padding: 8px 34px;
			border-width: 2px;
			border-style: solid;
			line-height: 38px;
		}
	}
	&__table {
		overflow-x: auto;
		table {
			width: 100%;
			min-width: 1170px;
			.no-bg {
				background: none;
			}
			th {
				text-align: left;
			}
			th, td {
				width: calc((100% - 88px) / 7);
			}
			th:first-child, td:first-child {
				width: 88px;
				color: #000 !important;
				line-height: normal;
				font-size: 18px;
			}
			td {
				font-weight: 400;
				color: #515254;
				&:first-child {
					text-align: center;
				}
			}
			tbody {
				tr:nth-child(even){
					background-color: #f6f6f6;
				}
				td {
					padding: 33px 21px;
				}
			}
		}
	}
}
@media (max-width: 1200px){
	.coach-calendar {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (max-width: 991px){
	.coach-calendar .title-btn .btn {
		font-size: 18px;
		padding: 4px 30px;
	}
	.coach-calendar__table table tbody td {
		padding: 15px 15px;
	}
}
@media (max-width: 480px){
	.coach-calendar .title-btn .btn {
		font-size: 16px;
		padding: 4px 30px;
		line-height: 28px;
	}
}
