.elementor-custom-embed-play {
	i.eicon-play {
		&:before {
			content: "\e905";
			font-family: 'betop' !important;
			font-size: 75px;
		}
	}

}
.elementor-custom-embed-image-overlay {
	position: relative;
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		background-color: rgba(0, 0, 0, .3);
		transition: .3s;
	}
	&:hover {
		&:before {
			opacity: 0;
		}
	}
}