.slider-width-content-wrapper {
	.slider-title {
		padding: 30px 45px;
		max-width: 370px;
		@media (max-width: 400px) {
			max-width: 100%;
		}
		h3 {
			margin: 0;
			font-size: 26px;
			line-height: 33px;
		}
	}
	.slider-width-content-navs {
		background-color: #131316;
		max-width: 370px;
		margin-bottom: 62px;
		@media (max-width: 400px){
			max-width: 100%;
		}
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			li {
				cursor: pointer;
				color: #fff;
				display: block;
				position: relative;
				text-transform: uppercase;
				font-size: 19px;
				font-weight: 600;
				padding: 18px 32px 17px;
				&:before {
					content: '';
					position: absolute;
					display: block;
					left: -15px;
					top: 0;
					height: 100%;
					width: 6px;
					background-color: #d76443;
					opacity: 0;
					transition: .3s;
				}
				&:hover, &.active {
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
	.slider-with-content {
		padding-bottom: 60px;
		.slide-title {
			margin-bottom: 33px;
		}
	}
}
@media (max-width: 480px){
	.slider-width-content-wrapper .slider-title h3 {
		font-size: 22px;
		line-height: 30px;
	}
	.slider-width-content-wrapper .slider-width-content-navs ul li {
		padding: 13px 15px;
		font-size: 17px;
	}
}