.training-block-slider-wrap {
	.training-block-slider {
		padding-right: 40px;
		.single-training-wrap {
			padding: 0 15px;
			.single-training {
				border: 4px #ededed solid;
				padding: 45px 40px 45px 40px;
				background-color: #fff;
				h5 {
					font-weight: 700;
					text-transform: uppercase;
					font-size: 25px;
					margin-bottom: 3px;
					line-height: 25px;
					margin-top: 0;
					@media (max-width: 480px) {
						font-size: 20px;
						line-height: 22px;
					}
				}
				.training-category {
					a {
						display: block;
						position: relative;
						font-size: 18px;
						padding-bottom: 14px;
						font-weight: 400;
						margin-bottom: 26px;
						&::before {
							content: '';
							width: 56px;
							height: 1px;
							position: absolute;
							bottom: 0;
							left: 0;
							display: block;
						}
					}
				}
				.excerpt {
					line-height: 30px;
					margin-bottom: 44px;
				}
				.trainig-buttons {
					display: flex;
					flex-wrap: wrap;
					margin-right: -6px;
					margin-left: -6px;
					.bottom-item {
						display: flex;
						flex-wrap: wrap;
						margin: 0 6px;
						width: 100px;
						justify-content: center;
						align-items: center;
						text-align: center;
						@media (max-width: 1199px) {
							width: 100% !important;
							margin-bottom: 10px;
						}
					}
					.training-price {
						padding: 11px 10px 20px 10px;
						width: 130px;
						@media (max-width: 1199px) {
							padding-bottom: 11px;
						}
						.head-font {
							font-size: 20px;
							font-weight: 700;
						}
						.price-affix {
							font-size: 18px;
							line-height: 20px;
							font-weight: 400;
							width: 100%;
						}
					}
					.join {
						text-transform: uppercase;
						line-height: 23px;
						font-size: 20px;
						font-weight: 600;
						padding: 10px;
					}
					.read-more {
						line-height: 23px;
						text-transform: uppercase;
						font-weight: 600;
						border-width: 2px;
						border-style: solid;
						padding: 10px;
					}
				}
			}
		}
		.owl-dots {
			position: absolute;
			left: -60px;
			top: 50%;
			transform: translateY(-50%);
			width: 8px;
			text-align: center;
			button {
				width: 4px;
				height: 18px;
				display: block;
				margin: 10px auto;
				border-radius: 0 !important;
				&.active {
					width: 8px;
				}
			}
		}
	}
	.trainings-title-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.trainings-title {
			position: relative;
			width: 100%;
			h2 {
				transform: translateY(-50%) rotate(-90deg);
				position: absolute;
				top: 50%;
				right: 45px;
				width: auto;
				min-width: 200px;
				text-align: right;
				margin-top: 0;
				@media (max-width: 767px) {
					text-align: center;
				}
			}
		}
	}
}

@media (max-width: 1199px) {
	.training-block-slider-wrap .training-block-slider .single-training-wrap .single-training {
		padding: 25px 25px;
	}
}

@media (max-width: 767px) {
	.training-block-slider-wrap .training-block-slider {
		padding-right: 0;
	}
	.training-block-slider-wrap .trainings-title-wrap .trainings-title h2 {
		position: relative;
		right: auto;
		top: auto;
		transform: none;
		padding: 0 15px;
	}
	.training-block-slider-wrap .training-block-slider .owl-dots {
		left: -7px;
	}
}

//list view

.training-table {
	background: #fff;
	padding: 40px 50px 60px;
	border: 4px #ededed solid;
	.single-training-table {
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px #ededed solid;
		padding-bottom: 25px;
		margin-bottom: 35px;
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
		&__column {
			&.single-training-table__title {
				flex: 0 0 40%;
				width: 40%;
				padding-right: 15px;
			}
			&.single-training-table__time {
				flex: 0 0 32%;
				width: 32%;
				padding-right: 15px;
			}
			&.single-training-table__price {
				flex: 0 0 28%;
				width: 28%;
			}
			.training-label {
				text-transform: uppercase;
				font-weight: 600;
				font-size: 18px;
				position: relative;
				margin-bottom: 40px;
				padding-bottom: 17px;
				line-height: 24px;
				&:before {
					content: '';
					display: block;
					position: absolute;
					width: 26px;
					height: 3px;
					left: 0;
					bottom: 0;
				}
			}
			h5 {
				font-weight: 700;
				font-size: 25px;
				line-height: 37px;
				text-transform: uppercase;
				margin-bottom: 0;
				margin-top: 0;
			}
			.training-category {
				line-height: 22px;
				a {
					font-size: 18px;
					color: #000;
				}
			}
			&.single-training-table__price {
				.trainig-buttons {
					display: flex;
					flex-wrap: wrap;
					text-align: center;
					line-height: normal;
					.training-price {
						flex: 0 0 54%;
						max-width: 54%;
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						padding: 7px 15px;
						justify-content: center;
						.head-font {
							font-weight: 600;
							font-size: 23px;
							width: 100%;
						}
						.price-affix {
							font-size: 18px;
							font-weight: 400;
						}
					}
					.join {
						display: inline-block;
						flex: 0 0 46%;
						max-width: 46%;
						font-size: 17px;
						text-transform: uppercase;
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						padding: 7px 15px;
						justify-content: center;
						font-weight: 600;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.training-table {
		.single-training-table {
			.training-label {
				display: none;
			}
			&:first-child {
				.training-label {
					display: block;
				}
			}
		}
	}
}

@media (max-width: 1024px) and (min-width: 768px) {
	.training-table .single-training-table__column.single-training-table__price .trainig-buttons {
		.training-price {
			max-width: 100%;
			flex: 0 0 100%;
		}
		.join {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
	.training-table .single-training-table {
		.child-products {
			font-size: 18px;
			line-height: 26px;
		}
	}
}

@media (max-width: 767px) {
	.training-table .single-training-table__column .training-label {
		margin-bottom: 15px;
		padding-bottom: 7px;
	}
	.training-table .single-training-table {
		.child-products {
			font-size: 18px;
			line-height: 26px;
		}
	}
	.training-table .single-training-table .single-training-table__column {
		width: 100%;
		flex: 0 0 100%;
		margin-bottom: 25px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.training-table .single-training-table__column.single-training-table__price .trainig-buttons {
		.training-price {
			padding: 5px 15px;
		}
		.join {
			padding: 5px 15px;
		}
	}
	.training-table .single-training-table {
		padding-bottom: 40px;
	}
}

@media (max-width: 600px) {
	.training-table {
		padding: 30px 25px;
	}
}

@media (max-width: 480px) {
	.training-block-slider-wrap.style_1 .training-block-slider .single-training-wrap {
		padding-right: 0;
	}
}

@media (max-width: 360px) {
	.training-table {
		padding: 30px 15px;
	}
}

.training-block-slider-style_2 {
	overflow-x: hidden;
	.owl-nav {
		visibility: hidden;
		opacity: 0;
		transition: .3s;
	}
	&:hover {
		.owl-nav {
			visibility: visible;
			opacity: 1;
		}
	}
	.trainings-title {
		h2 {
			margin-top: 0;
			font-weight: 700;
			margin-bottom: 40px;
		}
	}
	.training-slider {
		.owl-item {
			border-radius: 3px;
			overflow: hidden;
			background: #fff;
			transition: .3s;
			.training-thumbnail {
				position: relative;
				.training-price {
					position: absolute;
					right: 20px;
					bottom: -30px;
					text-align: center;
					border-radius: 3px;
					color: #fff;
					overflow: hidden;
					.price {
						background-color: #7795e3;
						padding: 13px 14px;
						font-size: 28px;
						font-weight: 600;
						.woocommerce-Price-currencySymbol {
							font-size: 17px;
							display: inline-block;
							vertical-align: top;
							margin-top: -5px;
						}
					}
					.price-affix {
						background-color: #f9ac5a;
						height: 30px;
						font-size: 16px;
						text-transform: capitalize;
					}
				}
			}
			.training-content {
				padding: 32px 35px;
				h5 {
					font-size: 24px;
					font-weight: 600;
					margin-bottom: 5px;
					margin-top: 0;
				}
				.excerpt {
					font-size: 17px;
					font-weight: 400;
					color: #515254;
				}
			}
			&:hover {
				opacity: .5;
			}
		}
		.owl-nav {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			button {
				position: absolute;
				width: 100px;
				height: 100px;
				border-radius: 50%;
				span {
					color: #fff;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					font-size: 40px;
					display: inline-block;
					height: 40px;
					font-weight: 700;
				}
				&.owl-prev {
					left: -50px;
					span {
						right: 25px
					}
				}
				&.owl-next {
					right: -50px;
					span {
						left: 25px;
					}
				}
			}
		}
	}
}