.elementor-widget-sm-training-slider {
	.training-slider {
		.slider-content-area {
			h2 {
				margin-top: 0;
			}
			button {
				display: inline-block;
				cursor: pointer;
				text-align: center;
				width: 46px;
				height: 46px;
				padding: 0;
				border-color: #000;
				opacity: .2;
				background: none;
				&:hover {
					opacity: 1;
				}
				span {
					font-size: 0;
					position: relative;
					vertical-align: middle;
					display: inline-block;
					&:before {
						font-size: 19px;
						font-family: 'betop' !important;
						display: inline-block;
						vertical-align: middle;
					}
				}
				&.owl-prev {
					span:before {
						content: "\e95f";
					}
				}
				&.owl-next {
					margin-left: 15px;
					span:before {
						content: "\e960";
					}
				}
			}
		}
		.training-slider-wrap {
			.single-training-slide {
				padding-left: 30px;
				padding-bottom: 30px;
				.single-training-image {
					position: relative;
					border-radius: 4px;
					img {
						border-radius: 4px;
					}
					&:before {
						content: '';
						display: block;
						width: 100%;
						height: 120px;
						position: absolute;
						left: 0;
						bottom: 0;
						background: #ffffff;
						background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
						border-radius: 0 0 4px 4px;
					}
					.single-training-content {
						position: absolute;
						left: 0;
						bottom: 30px;
						display: flex;
						flex-wrap: wrap;
						padding: 0 20px 0 70px;
						min-height: 53px;
						align-items: center;
						.price {
							position: absolute;
							left: -15px;
							bottom: 0;
							background-color: #fff;
							color: #000;
							border-radius: 4px;
							font-weight: 700;
							font-size: 18px;
							padding: 10px 15px;
							box-shadow: 0px 28px 35px 0px rgba(0, 0, 0, 0.48);
						}
						.training-title {
							font-size: 18px;
							text-transform: uppercase;
							color: #fff;
							line-height: 24px;
							font-weight: 600;
						}
					}
				}
			}
			@media (max-width: 991px){
				margin-top: 40px;
				.owl-stage-outer {
					overflow: visible;
				}
			}
		}
	}
}
