.training-wrap {
	.subtitle-wrap {
		h2 {
			margin-top: 0;
		}
		@media (min-width: 768px) {
			.col-lg-4 {
				text-align: right;
			}
		}
		margin-bottom: 10px;
		.btn.dark {
			margin-bottom: 28px;
			font-size: 20px;
			padding: 18px 37px;
			@media (max-width: 767px) {
				font-size: 18px;
				padding: 14px 30px;
			}
		}
	}
	.single-training-wrap {
		margin-bottom: 60px;
		@media (max-width: 767px) {
			margin-bottom: 30px;
		}
	}
	.single-training {
		border: 1px #ebebeb solid;
		padding-bottom: 30px;
		.training-image {
			margin-bottom: 30px;
			@media (max-width: 767px) {
				margin-bottom: 30px;
			}
			a {
				display: block;
				position: relative;
				overflow: hidden;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, .3);
					opacity: 0;
					transition: .3s;
					z-index: 1;
				}
				img {
					transition: .3s;
				}
				&:hover {
					&:before {
						opacity: 1;
					}
					img {
						transform: scale(1.1);
					}
				}
			}
		}
		.training-content {
			padding-left: 30px;
			padding-right: 30px;
			@media (max-width: 767px) {
				padding-left: 20px;
				padding-right: 20px;
			}
			h5 {
				margin-bottom: 12px;
				text-transform: uppercase;
				font-weight: 700;
				margin-top: 0;
				@media (max-width: 767px) {
					font-size: 20px !important;
				}
			}
			.excerpt {
				color: #515254;
				margin-bottom: 48px;
			}
			.trainig-buttons {
				display: flex;
				flex-wrap: wrap;
				margin-right: -10px;
				margin-left: -10px;
				.bottom-item {
					display: flex;
					flex-wrap: wrap;
					margin: 0 10px;
					width: calc(33.3% - 20px);
					justify-content: center;
					align-items: center;
					text-align: center;
					@media (max-width: 1199px) {
						width: 100%;
						margin-bottom: 10px;
					}
				}
				.training-price {
					padding: 15px 10px 15px 10px;
					@media (max-width: 1199px) {
						padding-bottom: 11px;
						padding-top: 11px;
					}
					.head-font {
						font-size: 22px;
						line-height: 26px;
						font-weight: 600;
					}
					.price-affix {
						font-size: 18px;
						line-height: 20px;
						font-weight: 400;
					}
				}
				.join {
					text-transform: uppercase;
					line-height: 23px;
					font-size: 20px;
					font-weight: 600;
					padding: 10px;
					@media (max-width: 991px) {
						font-size: 18px;
					}
				}
				.read-more {
					line-height: 23px;
					text-transform: uppercase;
					font-weight: 600;
					border-width: 2px;
					border-style: solid;
					padding: 10px;
					font-size: 20px;
				}
			}
		}
	}
}

.training-wrap.style_2 {
	@media (min-width: 1200px){
		padding-right: 0;
		padding-left: 0;
	}
	.single-training {
		box-shadow: 0px 9px 73px 0px rgba(79, 82, 91, 0.15);
		border: none;
		background-color: #fff;
		.training-image {
			margin-bottom: 48px;
			a {
				.training-price {
					position: absolute;
					top: 0;
					left: 0;
					padding: 15px;
					z-index: 2;
					text-align: center;
					.price-wrap {
						font-size: 22px;
						font-weight: 600;
						line-height: 22px;
					}
					.price-affix {
						font-size: 15px;
						text-transform: uppercase;
						font-weight: 500;
						line-height: 15px;
					}
				}
			}
		}
		.training-content {
			@media (min-width: 1200px){
				padding-left: 40px;
				padding-right: 40px;
			}
			h5 {
				margin-top: 0;
				font-size: 23px;
				font-weight: 600;
				text-transform: none;
				margin-bottom: 21px;
			}
			.btn {
				padding-left: 33px;
				padding-right: 33px;
			}
		}
	}
	.training-block-title {
		h2 {
			margin-top: 0;
			margin-bottom: 42px;
		}
	}
	.training-block-button {
		.btn {
			font-size: 21px;
			font-weight: 500;
			padding: 22px 43px;
			@media (max-width: 480px){
				padding: 15px 30px;
			}
		}
	}
}