.page-404-wrap {
	text-align: center;
	padding: 100px 0 160px 0;
	img {
		margin-bottom: 60px;
	}
	h3 {
		margin-top: 0px;
		font-size: 45px;
		line-height: 62px;
	}
	p {
		font-size: 26px;
		margin-bottom: 50px;
		line-height: 36px;
	}
	.btn {
		font-size: 20px;
		color: #000;
		&:hover {
			background: none;
		}
	}
}