//-------single-------->
#content.no-title-box {
	padding-top: 80px;
	border-top: 1px #ededed solid;
	background-color: #fff;
}

body.single {
	.main_single_page {
		@media (min-width: 991px) {
			padding-right: 30px;
		}
	}
}
body.page {
	.comments-area {
		margin-bottom: 60px;
	}
}
body.single-events {
	.main_single_page {
		& > .post-date {
			display: none;
		}
	}
}

.main_single_page {
	.single-thumbnail {
		margin-bottom: 40px;
		overflow: hidden;

		&:hover {
			img {
				transform: scale(1.05);
			}
		}
		img {
			transition: .3s;
		}
	}
	.post-date {
		font-size: 16px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
}

.coach-post-content {
	margin-bottom: 40px;
	@media (max-width: 480px){
		margin-bottom: 30px;
	}
	h1.h3 {
		text-transform: none;
	}
}

.stm_post-after {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px #ededed solid;
	margin-bottom: 40px;
	.tags {
		i {
			vertical-align: middle;
			font-size: 24px;
		}
		a {
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 600;
		}
		@media(max-width: 767px){
			margin-bottom: 24px;
		}
	}
	.share-wrap {
		.head-font {
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
		}
		.addtoany_shortcode {
			display: inline-block;
		}
	}
}

.stm_author_box {
	background-color: #ededed;
	padding: 52px 52px;
	overflow: hidden;
	margin-bottom: 60px;
	@media (max-width: 767px) {
		margin-bottom: 60px;
	}
	&__avatar {
		float: left;
		border: 6px #fff solid;
		border-radius: 50%;
		margin: 6px 45px 6px 0;
		img {
			border-radius: 50%;
			vertical-align: top;
		}
	}
	&__name {
		font-size: 19px;
		margin-bottom: 13px;
	}
	&__content {
		font-size: 18px;
		color: #515254;
	}
}
ul.wp-block-gallery {
	li.blocks-gallery-item {
		padding-left: 0 !important;
		&:before {
			display: none !important;
		}
	}
}
.wp-caption.aligncenter {
	margin-bottom: 20px !important;
}
.wp-block-separator {
	margin-top: 24px;
	margin-bottom: 24px;
}
@media (max-width: 767px) {
	.stm_author_box {
		padding: 25px 30px 40px;
		&__avatar {
			img {
				width: 75px;
			}
		}
	}
}

@media (max-width: 480px) {
	.stm_author_box {
		&__avatar {

		}
		&__info {
			clear: both;
		}
	}
}
