.btn, button, input[type="submit"], .elementor-button {
	border-radius: 50px !important;
	display: inline-block;
	border-width: 2px;
	outline: none;
	cursor: pointer;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 17px;
}
.btn, input[type=submit], button, .button {
	padding: 17px 50px 16px 50px;
	@media (max-width: 1024px) {
		padding: 15px 40px 14px 40px;
	}
	@media (max-width: 480px) {
		padding: 12px 30px 11px 30px;
	}
}
.btn {
	color: #424345;
	border: 2px $primary solid;
}
body div div .white-c {
	color: #fff;
}
.elementor-size-md {
	padding: 10px 25px 9px !important;
}
.btn.dark {
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	border: 2px #000 solid;
	&:hover {
		color: #000;
		background-color: $primary;
		border-color: $primary;
	}
	&.read-more {
		font-size: 20px;
	}
}
.btn, .btn:hover, input[type=submit], button, .button, .elementor-size-md, .elementor-widget-button a.elementor-button, .elementor-widget-button .elementor-button {
	font-family: $head-font;
	font-weight: 600;
}