.wpcf7-form {
	br {
		display: none;
	}
	p {
		margin-bottom: 0;
	}
	label, .cf-label {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.cf-label-text {
			display: inline-block;
			min-width: 125px;
			padding-right: 23px;
			max-width: 20%;
		}
		.cf-field {
			width: 100%;
			.select2 {
				&-selection--single {
					border-bottom: 1px #ebebeb solid !important;
					border-radius: 0;
					.select2-selection__rendered {
						padding: 0;
					}
				}
			}
		}
	}
	input[type="text"], input[type="tel"], input[type="email"], input[type="password"], input[type="search"], textarea {
		border: none;
		border-bottom: 1px #ebebeb solid;
		padding: 21px 0;
		width: 100%;
	}
	textarea {
		height: 141px;
	}
	input[type=submit] {
		border-color: $primary;
		background-color: $primary;
		font-size: 20px;
		padding: 18px 30px !important;
		margin-top: 30px;
		&:hover {
			background-color: #000;
			border-color: #000;
			color: #fff;
		}
		@media (max-width: 1200px) {
			margin-top: 10px;
		}
	}
	.wpcf7-not-valid-tip {
		font-size: 16px;
	}
}
@media (max-width: 1200px){
	.wpcf7-form {
		label, .cf-label {
			.cf-label-text {
				width: 100%;
				max-width: 100%;
				margin-bottom: 20px;
			}
			.cf-field {
				width: 100%;
			}
		}
	}
}
.wpcf7-response-output {
	border-top: none !important;
	border-right: none !important;
	border-bottom: none !important;
	border-left-width: 4px !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	box-shadow: 15px 11px 20px rgba(0, 0, 0, .2);
}
