.ui-datepicker {
	box-shadow: 0 0 20px rgba(0, 0, 0, .2);
	&-header {
		padding: 10px 15px;
		overflow: hidden;
		.ui-corner-all {
			cursor: pointer;
		}
		.ui-datepicker-prev {
			float: left;
			span {
				font-size: 0;
				&:before {
					content: "\f053";
					font-family: "FontAwesome";
					font-size: 18px;
				}
			}
		}
		.ui-datepicker-next {
			float: right;
			span {
				font-size: 0;
				&:before {
					content: "\f054";
					font-family: "FontAwesome";
					font-size: 18px;
				}
			}
		}
		.ui-datepicker-title {
			width: 100%;
			text-align: center;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 18px;
		}
	}
	.ui-state-disabled {
		opacity: .5;
	}
	.ui-datepicker-current-day {
		a {
			color: #fff;
		}
	}
	tbody {
		td {
			transition: .3s;
			cursor: pointer;
			a {
				color: #000;
			}
		}
		td:not(.ui-state-disabled):hover {
			a {
				color: #fff;
			}
		}
	}
	table {
		margin-bottom: 0;
		border: none;
		td, th {
			border: none;
		}
		th {
			font-size: 16px;
		}
	}
}
@media (max-width: 500px){
	.ui-datepicker table td, .ui-datepicker table th {
		padding: 5px 8px;
	}
}