//------mailchimp------>
footer {

}
.man_footer_default {
	padding: 24px 0 24px;
	background: #f1f1f1;
	border-top: 1px #d7d7d7 solid;
	text-align: center;
	nav {
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			overflow: hidden;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			li {
				float: left;
				padding: 0 17px;
				&:first-child {
					padding-left: 0;
				}
				a {
					font-weight: 400;
					font-size: 18px;
					letter-spacing: -0.18px;
				}
			}
		}
	}
	.stm-copyright {
		font-size: 16px;
		a {
			color: inherit;
		}
	}
	&.with-menu {
		nav {
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px #d7d7d7 solid;
		}
	}
}
@media (max-width: 1200px){
	.man_footer_default nav ul {
		column-count: 2;
		li {
			float: none;
			padding-left: 0;
			padding-right: 15px;
		}
	}
}
@media (max-width: 767px){
	.man_footer_default nav ul {
		margin-bottom: 20px;
	}
	.man_footer_default .stm-copyright {
		font-size: 14px;
	}
}

