body.demo-imported {
	.date-reservation {
		display: none;
		&.active {
			display: flex;
		}
	}
	.grouped-label {
		display: none;
	}
	.grouped_form {
		position: relative;
		.woocommerce-grouped-product-list-item__price {
			text-align: center;
		}
		.quantity-label {
			.simple-label {
				display: none;
			}
			.grouped-label {
				display: inline-block;
			}
		}
	}
	.grouped-quantity {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 15px;
		& > label {
			margin-bottom: 0;
			padding-right: 15px;
			display: block;
			width: 100%;
			height: 33px;
			.grouped-label {
				text-transform: none;
			}
		}
	}
	.date-reservation {
		flex-wrap: wrap;
		align-items: center;
		h4 {
			display: inline-block;
			margin-bottom: 10px;
			padding-right: 15px;
			text-transform: uppercase;
			font-weight: 600;
			width: 100%;
			line-height: 33px;
		}
		span {
			display: inline-block;
			position: relative;
			i {
				position: absolute;
				z-index: 1;
				top: 50%;
				right: 20px;
				transform: translateY(-50%);
				font-size: 24px;
			}
		}
		input {
			padding: 11px 20px !important;
			width: 180px;
			border-radius: 70px !important;
			position: relative;
			z-index: 2;
			background: none;
		}
		.reserve-notice {
			display: none;
			&.active {
				display: block;
				padding: 15px 0;
				width: 100%;
			}
		}
	}
	@media (min-width: 1200px){
		.woocommerce-grouped-product-list-item__quantity {
			width: 656px;
		}
	}
	@media (max-width: 991px){
		.group_table {
			.woocommerce-grouped-product-list-item__quantity {
				width: 33%;
			}
		}
		.grouped-quantity {
			margin-right: 0 !important;
			& > label {
				min-width: auto;
			}
		}
		.single-training-wrapper .group_table {
			th, td {
				vertical-align: top;
			}
		}
	}
	@media (max-width: 767px){
		.single-training-wrapper .group_table {
			th, td {
				padding: 8px 12px;
			}
			.woocommerce-grouped-product-list-item__price {
				min-width: 80px;
			}
		}
		.date-reservation {
			h4 {
				min-width: auto;
				font-size: 15px;
				line-height: normal;
				padding-right: 0;
				margin-bottom: 15px;
			}
			span {
				input {
					font-size: 16px;
					padding: 12px 30px 12px 12px !important;
					width: 130px;
				}
				i {
					font-size: 18px;
					right: 12px
				}
			}
		}
		.grouped-quantity {
			& > label {
				padding: 0 10px;
				text-align: center;
			}
		}
	}
	.grouped_form {
		.group_table {
			border-width: 4px;
			border-color: #ededed;
			.message-wrap {
				clear: both;
			}
			tr.product {
				border-bottom: 1px #ededed solid;
			}
			td {
				border: none;
				@media(min-width: 1200px){
					padding: 12px 30px;
				}
			}
			.grouped-top-labels {
				td {
					padding: 30px 20px;
					@media(min-width: 1200px){
						padding: 30px;
					}
				}
				span {
					font-size: 18px;
					display: inline-block;
					position: relative;
					text-transform: uppercase;
					font-weight: 600;
					padding-bottom: 13px;
					&:before {
						content: '';
						display: block;
						width: 26px;
						height: 3px;
						position: absolute;
						bottom: 0;
					}
				}
			}
			.woocommerce-grouped-product-list-item__label {
				@media (max-width: 767px){
					width: 33%;
				}
				label {
					text-transform: uppercase;
					font-size: 25px;
					font-weight: 600;
					a:not(:hover) {
						color: #000;
					}
					@media (max-width: 767px){
						font-size: 18px;
					}
				}
			}
			.woocommerce-grouped-product-list-item__quantity {
				overflow: hidden;
				.grouped-quantity {
					@media (min-width: 1200px){
						width: 50%;
						float: left;
					}
					margin-right: 0 !important;
					padding-right: 10px;
					.quantity-label {
						text-align: left;
						.grouped-label {
							color: #515254;
						}
					}
					.quantity-wrap {
						.quantity-control {
							line-height: 48px;
							@media (min-width: 768px){
								height: 50px;
							}
						}
						input.qty {
							height: 50px;
						}
					}
				}
				.date-reservation {
					@media (min-width: 1200px){
						width: 50%;
						float: left;
					}
					h4 {
						font-size: 18px;
						color: #515254;
						font-weight: 400;
						text-transform: none;
						margin-top: 0;
						@media (max-width: 1024px){
							font-size: 20px;
						}
					}
				}
			}
			.woocommerce-grouped-product-list-item__price {
				text-align: left;
				@media (min-width: 768px){
					min-width: 150px;
				}
				.amount {
					display: inline-block;
					padding: 10px 20px;
					margin-top: 20px;
					font-size: 23px;
					font-weight: 600;
				}
				del {
					.amount {
						text-decoration: line-through;
						background-color: #ccc;
					}
				}
			}
		}
	}
	@media (max-width: 767px){
		.grouped_form .group_table {
			.grouped-top-labels {
				display: none;
			}
			tr.product {
				display: block;
				padding: 10px;
				td {
					display: block;
					width: 100%;
					position: relative;
					&.woocommerce-grouped-product-list-item__label {
						padding-top: 30px;
					}
					.quantity label {
						margin-bottom: 0;
					}
					&.woocommerce-grouped-product-list-item__price {
						margin-bottom: 30px;
					}
				}
			}
		}
	}
	@media (max-width: 480px){
		.date-reservation span input {
			width: 112px;
			padding-left: 6px !important;
			padding-right: 15px !important;
		}
		.date-reservation span i {
			right: 6px;
		}
		.single-training-wrapper .group_table .woocommerce-grouped-product-list-item__price {
			min-width: 65px;
		}
		.single-training-wrapper .group_table .woocommerce-grouped-product-list-item__label {
			line-height: 24px;
		}
	}
	input[name=reservation_date].available {
		border-color: $success;
	}
	@media (max-width: 360px){
		.group_table .woocommerce-grouped-product-list-item__quantity {
			min-width: 110px;
		}
	}
	.unavailable-dates {
		padding: 20px;
		border-left-color: $error;
		cursor: pointer;
		padding: 20px;
		border-left-width: 4px;
		border-left-style: solid;
		opacity: 1;
		height: auto;
		transition: .3s;
		box-shadow: 4px 4px 20px rgba(0, 0, 0, .3);
		background-color: #fff;
		margin-top: 20px;
	}
	@media (max-width: 480px){
		.unavailable-dates {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			padding: 20px;
			z-index: 3;
			margin-top: 0px;
		}
	}
}

body.demo-not-imported{
	.grouped-top-labels {
		display: none !important;
	}
	.grouped_form .group_table .woocommerce-grouped-product-list-item__quantity .grouped-quantity .quantity-label {
		display: none !important;
	}
	.grouped_form .group_table .woocommerce-grouped-product-list-item__price .amount {
		margin-top: 0 !important;
		margin-bottom: 15px;
	}
	.grouped_form {
		.woocommerce-grouped-product-list {
			border-bottom: none;
			.quantity {
				margin-right: 0 !important;
				label {
					font-weight: 500;
					font-size: 12px;
					line-height: 22px;
					margin-bottom: 2px;
				}
				.quantity-wrap {
					input {
						height: 44px;
						width: 30px !important;
					}
					.quantity-control {
						line-height: 42px;
						font-size: 14px;
						&.quantity-minus {
							padding-right: 8px;
							padding-left: 10px;
						}
						&.quantity-plus {
							padding-right: 10px;
							padding-left: 8px;
						}
					}
				}
			}
			td {
				&.woocommerce-grouped-product-list-item__price {
					padding-bottom: 16px !important;
					font-family: 'Poppins';
					font-weight: 600;
					font-size: 20px;
					line-height: 24px;
					color: #ecb537;
					@media (max-width: 991px){
						font-size: 16px;
						line-height: 20px;
					}
				}
				&.woocommerce-grouped-product-list-item__label {
					padding-bottom: 16px !important;
					font-family: 'Poppins';
					font-weight: 600;
					font-size: 20px;
					line-height: 24px;
					a:not(:hover) {
						color: #000;
					}
					@media (max-width: 991px){
						font-size: 16px;
						line-height: 20px;
					}
				}
				&:first-child {
					padding-right: 0;
					width: 97px !important;
					padding-top: 0;
				}
			}

		}
	}
}