.default-header {
	padding-top: 40px;
	padding-bottom: 35px;
	.site-logo {
		a {
			font-size: 24px;
			font-weight: 700;
		}
	}
	.sm_nav_menu {
		position: relative;
		z-index: 3;
		ul {
			list-style-type: none;
			margin: 0;
		}
		li {
			padding: 0 15px;
		}
		@media (min-width: 1025px) {
			& > li:last-child {
				& > .sub-menu {
					right: 0;
					.sub-menu {
						right: 100%;
						left: auto;
					}
				}
			}
			& > li:nth-last-child(2),
			& > li:nth-last-child(3),
			& > li:nth-last-child(4){
				& > .sub-menu {
					.sub-menu {
						right: 100%;
						left: auto;
					}
				}
			}
		}
	}
	@media (max-width: 1024px) {
		& > .container {
			& > .row {
				justify-content: space-between;
				& > div {
					display: inline-block;
					width: auto;
					flex: 0 0 auto;
					max-width: 300px;
				}
				.col-sm-9 {
					text-align: right;
				}
			}
		}
	}
	.sm_nav_menu {
		& > li {
			& > a {
				color: #000;
				&:hover {
					color: $primary;
				}
			}
			.sub-menu {
				li {
					a {
						color: #fff;
						&:hover {
							color: $primary;
						}
					}
				}
			}
		}
	}
}
body.yoga {
	background: url('../images/header.jpg') no-repeat top right;
}
@media (min-width: 1025px){
	.elementor-header {
		.sm_nav_menu {
			.arrow {
				display: none;
			}
		}
	}
}