input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea
{
	border-width: 1px;
	border-style: solid;
	border-radius: 0;
	padding: 18px 20px;
	font-size: 18px;
	line-height: 20px;
	outline: none;
	max-width: 100%;
	border-color: #ededed;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
a[href^="tel"] {
	color: inherit;
}
a, button, input[type=submit] {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type=submit], button {
	border-style: solid;
	box-shadow: none;
}
textarea {
	width: 100%;
	border-color: #ededed;
}
.comment-form {
	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="password"],
	input[type="search"],
	textarea {
		border-color: #ededed;
	}
}
@media (max-width: 767px){
	.comments-area .comment-respond .comment-form .fields-row {
		margin-right: 0;
		margin-left: 0;
		max-width: 100%;
		p {
			padding-left: 0;
			padding-right: 0;
			input {
				width: 100%;
			}
		}
	}
	.comments-area .comment-respond .comment-reply-title {
		font-size: 36px;
		line-height: 44px;
	}
}