.portfolio-gallery {
	&__item {
		img {
			margin-bottom: 36px;
		}
		&__description {
			padding-right: 120px;
			h5 {
				text-transform: uppercase;
				font-weight: 700;
				margin-bottom: 4px;
				font-size: 22px;
				line-height: 26px;
			}
			.portfolio-description {
				font-size: 16px;
				color: #808080;
			}
		}
	}
	.owl-nav {
		position: absolute;
		bottom: 10px;
		right: 0;
		button {
			display: inline-block;
			width: 49px;
			height: 49px;
			background-color: #000 !important;
			border-radius: 0 !important;
			color: #fff !important;
			span {
				line-height: 49px;
				position: relative;
				font-size: 0;
				&:before {
					font-family: 'FontAwesome';
					font-size: 22px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			&.owl-prev {
				span {
					&:before {
						content: "\f104";
					}
				}
			}
			&.owl-next {
				margin-left: 10px;
				span {
					&:before {
						content: "\f105";
					}
				}
			}
			&:hover {
				background-color: $primary !important;
				color: #000 !important;
			}
		}
	}
	margin-bottom: 40px;
}
@media (max-width: 768px){
	.portfolio-gallery__item img {
		margin-bottom: 30px;
	}
	.portfolio-gallery__item__description {
		padding-right: 0;
	}
	.portfolio-gallery  {
		margin-bottom: 80px;
		.owl-nav {
			left: 0;
			top: 102%;
		}
	}
}