body.page-template-page-sidebar {
	.site-content {
		margin-bottom: 80px;
	}
}
//--------sidebar------->
.widget_recent_comments {
	font-size: 18px;
}

.man_sidebar {
	font-size: 18px;
	h5, h6 {
		margin-top: 0;
	}
	.widget:not(:last-child) {
		margin-bottom: 50px;
	}
	@media (min-width: 1200px){
		padding-left: 0;
		padding-right: 0;
		.inner-wrapper-sticky {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.widget-title {
		margin-bottom: 33px;
		text-transform: none;
		font-weight: 500;
	}

}
.widget_categories {
	li {
		padding-left: 24px;
		position: relative;
		color: #a8a9ab;
		margin-bottom: 15px;
		&:before {
			content: "\f105";
			font-family: FontAwesome;
			position: absolute;
			left: 0;
			top: 8px;
			color: $primary;
			font-size: 15px;
			transition: .2s;
			@media (max-width: 1024px){
				top: 7px;
			}
		}
		&:hover {
			&:before {
				left: 5px;
			}
		}
		a {
			color: #000;
		}
	}
}
.widget_recent_entries {
	li {
		padding-left: 30px;
		position: relative;
		color: #a8a9ab;
		margin-bottom: 25px;
		&:before {
			content: "\f105";
			font-family: FontAwesome;
			position: absolute;
			left: 0;
			top: 7px;
			color: #515254;
			font-size: 15px;
			transition: .2s;
		}
		&:hover {
			&:before {
				left: 5px;
			}
		}
		a {
			color: #515254;
		}
	}
}
.widget_stm_recent_posts {
	.widget_media {
		padding-bottom: 20px;
		border-bottom: 1px #ededed solid;
		margin-bottom: 20px;
		a {
			display: flex;
			flex-wrap: wrap;
			overflow: hidden;
			.image {
				float: left;
				margin-right: 20px;
				img {
					width: 83px;
				}
			}
			h6 {
				margin-bottom: 0;
			}
			.stm-post-content {
				&.with-image {
					max-width: calc(100% - 113px);
				}
				h6 {
					text-transform: none;
					color: #000;
					line-height: 24px;
				}
				.date {
					font-size: 14px;
					text-transform: uppercase;
					margin-bottom: 10px;
					line-height: 14px;
				}
			}
		}
		&:nth-last-child(2){
			border-bottom: none;
		}
	}
}
.widget_mc4wp_form_widget {
	padding: 95px 30px 30px 30px;
	text-align: center;
	position: relative;
	&:before {
		content: "\e964";
		position: absolute;
		font-family: 'betop';
		display: block;
		top: 8px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 96px;
	}
	input {
		border-radius: 50px;
		margin-bottom: 10px;
		width: 100%;
		&[type="email"] {
			font-size: 17px;
			padding: 12px 30px;
		}
		&[type="submit"] {
			font-size: 18px;
			text-transform: uppercase;
			border: none;
			padding: 13px 30px 12px;
			background-color: #000;
			color: #fff;
			font-weight: 500;
			border: 2px #000 solid;
			&:hover {
				background-color: #fff;
				border-color: #fff;
				color: #000;
			}
		}
	}
}
.widget_archive, .widget_meta {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		h5 {
			margin-bottom: 7px;
		}
		li {
			font-size: 18px;
			color: #515254;
			padding: 11px 0;
			a {
				color: #000;
				&:hover {
					color: $primary;
				}
			}
			&:not(:last-child){
				border-bottom: 1px #ebebeb solid;
			}
		}
	}
}
.widget_calendar {
	table {
		td, th {
			padding: 6px 8px;
			text-align: center;
			@media (max-width: 1200px){
				padding: 4px 6px;
				font-size: 14px;
			}
		}
	}
}
.widget_pages {
	ul {
		li {
			padding-left: 30px;
			position: relative;
			color: #a8a9ab;
			margin-bottom: 15px;
			&:before {
				content: "\f105";
				font-family: FontAwesome;
				position: absolute;
				left: 0;
				top: 10px;
				color: #000;
				font-size: 15px;
				transition: .2s;
			}
			&:hover {
				&:before {
					left: 5px;
				}
			}
			a {
				color: #515254;
			}
		}
	}
}
.widget_nav_menu {
	ul {
		li {
			padding-left: 15px;
			position: relative;
			color: #a8a9ab;
			margin-bottom: 15px;
			a {
				color: #515254;
			}
		}
	}
}
.widget_rss {
	li {
		margin-bottom: 25px;
	}
}
@media (max-width: 991px){
	.man_sidebar {
		margin-top: 50px;
	}
}