footer .elementor-widget-text-editor {
	p {
		margin-bottom: 4px;
	}
}

.fa, .fab, .fal, .far, .fas {
	font-family: 'FontAwesome';
}

p {
	margin-top: 0;
	margin-bottom: 24px;
}

.head-font {
	font-weight: 500;
}

body div div .sc, body div div .sc-hv:hover {
	color: $secondary;
}

.sbrc, .sbrc-hv:hover {
	border-color: $secondary;
}

.sbcc, .sbcc-hv:hover, .training-block-slider .owl-dots button {
	background-color: $secondary;
}

body div div .dark {
	background-color: #000;
	border-color: #000;
	color: #fff;
}

body {
	.date, time {
		font-weight: 500;
		text-transform: uppercase;
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin-top: 0;
}

body.yoga {
	h1, .h1,
	h2, .h2 {
		text-transform: uppercase;
	}
}

.underline {
	text-decoration: underline;
}

.underline-hv:hover {
	text-decoration: underline;
}
.elementor-text-editor {
	a:hover {
		text-decoration: underline;
	}
}
*:before, *:after {
	line-height: 1;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .head-font, nav a, .nav-links .prev, .nav-links .next, .comment-author b.fn, time, body .date, .reply a, footer nav a, .select2, .next.page-numbers, .prev.page-numbers, .quantity label, .woocommerce div.product .woocommerce-product-rating .woocommerce-review-link, .tabs li a, .elementor-widget-accordion .elementor-accordion .elementor-tab-title, .contact-data, .ui-datepicker-header .ui-datepicker-title, .ui-datepicker table td, .ui-datepicker table th, .select2-results__option, .woocommerce ul.products li.product .archive-product-meta .price, .shop_table {
	font-family: $head-font;
}

body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, nav a, .stm_post-after .tags a, .stm_post-after .tags i {
	color: #000;
}
.pc-hv {
	transition: .3s;
}
.stm_post-after .tags a:not(:hover), .stm_post-after .tags, .star-rating, .pc, .pc-hv:hover, time, .reply a:hover, .site-content ul li:before, body.yoga a, .coach-tabs__list .catergory-tab-link.active .category-icon i, .coach-tabs__list .catergory-tab-link:hover .category-icon i, nav a:hover, .woocommerce ul.products li.product .archive-product-meta .price, .man_sidebar .widget_categories li a:hover {
	color: $primary;
}

h1, .h1 {
	font-weight: 700;
	font-size: 54px;
	line-height: 60px;
	margin-bottom: 37px;
	@include letterspace(54, -25);
	@media (max-width: 1024px) {
		font-size: 48px;
		line-height: 54px;
		@include letterspace(42, -25);
	}
	@media (max-width: 480px) {
		font-size: 42px;
		line-height: 48px;
		@include letterspace(36, -25);
	}
}

h2, .h2 {
	font-weight: 700;
	font-size: 42px;
	line-height: 48px;
	margin-top: 46px;
	margin-bottom: 28px;
	@include letterspace(42, -25);
	@media (max-width: 1024px) {
		font-size: 36px;
		line-height: 42px;
		@include letterspace(36, -25);
	}
	@media (max-width: 480px) {
		font-size: 30px;
		line-height: 36px;
		@include letterspace(30, -25);
	}
}

h3, .h3 {
	font-weight: 600;
	font-size: 36px;
	line-height: 42px;
	margin-top: 40px;
	margin-bottom: 21px;
	@include letterspace(36, -25);
	@media (max-width: 1024px) {
		font-size: 30px;
		line-height: 36px;
		@include letterspace(30, -25);
	}
	@media (max-width: 480px) {
		font-size: 24px;
		line-height: 30px;
		@include letterspace(24, -25);
	}
}

h4, .h4 {
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;
	margin-top: 36px;
	margin-bottom: 16px;
	@include letterspace(30, -25);
	@media (max-width: 1024px) {
		font-size: 24px;
		line-height: 30px;
		@include letterspace(24, -25);
	}
	@media (max-width: 480px) {
		font-size: 18px;
		line-height: 24px;
		@include letterspace(18, -25);
	}
}

h5, .h5 {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	margin-top: 31px;
	margin-bottom: 11px;
	@include letterspace(24, -25);
	@media (max-width: 1024px) {
		font-size: 18px;
		line-height: 24px;
		@include letterspace(18, -25);
	}
	@media (max-width: 480px) {
		font-size: 16px;
		line-height: 22px;
		@include letterspace(16, -25);
	}
}

h6, .h6 {
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	margin-top: 26px;
	margin-bottom: 10px;
	@media (max-width: 1024px) {
		font-size: 16px;
		line-height: 22px;
	}
	@media (max-width: 480px) {
		font-size: 14px;
		line-height: 20px;
		@include letterspace(14, -25);
	}
}

body, .elementor-widget-text-editor, input, textarea, .woocommerce-ordering select, .man_cart_block a, .normal-font, .elementor-widget-accordion .elementor-accordion .elementor-tab-content {
	font-family: $body-font;
	color: #000;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}

.elementor-header .sub-menu a {
	font-size: 22px;
	font-weight: 400;
	line-height: 33px;
}

.btn, input[type=submit], button, .button, .elementor-size-md {
	font-size: 17px;
	font-family: $head-font;
	font-weight: 600;
}

body div div .dark-color,
body div div .dark-color-hv:hover {
	color: #000;
}

.white-bg, .white-bc-hv:hover {
	background-color: #fff !important;
}

.white-br, .white-br-hv:hover {
	border-color: #fff !important;
}

.white-c, .white-c-hv:hover {
	color: #fff;
}

.black-bg, .black-bg-hv:hover {
	background-color: #000 !important;
}

.black-br, .black-br-hv:hover {
	border-color: #000 !important;
}

.black-c, .black-c-hv:hover {
	color: #000 !important;
}

.pbrc, .pbrc-hv:hover, ul.tabs li.active a, .wpcf7-form input[type=submit], .elementor-widget-sm-basket .stm-cart-button .btn {
	border-color: $primary;
}

body div .tc, body div .tc-hv:hover {
	color: $third;
}

.tbrc, body.health_coach .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"], .tbrc-hv:hover {
	border-color: $third;
}

.tbcc, .tbcc-hv:hover, body.health_coach .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"]:not(:hover) {
	background-color: $third;
}

.pbcc, .pbcc-hv:hover, .man_sidebar .widget_mc4wp_form_widget, .comment-form .form-submit .submit, table thead th, .nav-links .page-numbers.current, .nav-links .page-numbers:hover, .woo-sidebar .widget_text h5:before, .woo-sidebar .widget_price_filter .ui-slider-horizontal .ui-slider-range, .woo-sidebar .widget_price_filter .ui-slider .ui-slider-handle, ul.products .archive-image-wrap .hidden-labels a, body.single-product .content-area .woocommerce-product-gallery .flex-control-nav li.active, body.single-product .content-area .woocommerce-product-gallery .flex-control-nav li:hover, .woocommerce div.product div.images .woocommerce-product-gallery__trigger:before, .woocommerce div.product div.images .woocommerce-product-gallery__trigger:after, .quantity .quantity-wrap .quantity-control:hover, .woocommerce div.product form.cart .single_add_to_cart_button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, .woocommerce button.button.alt:hover, .wpcf7-form input[type=submit], .training-category a::before, .training-block-slider .owl-dots button.active, .pbcc-before:before, .pbcc-after:after, .ui-datepicker .ui-datepicker-current-day, .ui-datepicker tbody td:not(.ui-state-disabled):hover, .stm-cart-button .count, body.health_coach footer .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"]:not(:hover), .woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers.current, .woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers:hover, .woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers.next:hover, body.health_coach footer .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"]:not(:hover), .woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers.current, .woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers:hover, .woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers.next:hover, .training-block-slider-style_2 .training-slider .owl-nav button, body.demo-imported .woocommerce-grouped-product-list-item__price .amount {
	background-color: $primary;
}

.comment-form .form-submit .submit:hover {
	background-color: #000;
	color: #fff;
}

.elementor-widget-text-editor {
	color: #515254;
}

body:not(.woocommerce):not(.woocommerce-page) div:not(.woocommerce) {
	.site-main {
		ul:not(.elementor-editor-element-settings):not(.elementor-select-preset-list):not(.products) {
			list-style: none;
			margin: 0;
			padding: 0;
			& > li {
				padding-left: 36px;
				position: relative;
				margin-top: 12px;
				margin-bottom: 12px;
				@media (max-width: 480px) {
					padding-left: 25px;
				}
				&:before {
					content: "\f621";
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					font-size: 11px;
					position: absolute;
					top: 10px;
					left: 0;
				}
			}
		}
		.entry-content {
			.tinv-wishlist {
				.social-buttons {
					ul {
						li {
							padding-left: 0;
							&:before {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

ol {
	padding-left: 36px;
	@media (max-width: 480px) {
		padding-left: 25px;
	}
	li {
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

body #primary-content .comments-area ol.comment-list {
	padding-left: 0;
}

blockquote {
	margin-left: 0;
	border-left: 4px $primary solid;
	padding-left: 40px;
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
	font-family: $head-font;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000;
	p:last-child {
		margin-bottom: 0;
	}
}

ins {
	text-decoration: none;
}