@import "../../components/variables";
@import "../../components/mixins";
.google-maps-styled {
	height: 516px;
}
.info-window {
	font-size: 19px !important;
	line-height: 28px !important;
	padding: 8px 10px;
	h6 {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 7px;
	}
	p {
		margin-bottom: 5px;
	}
}
.infoblock-wrap {
	& > div:first-child {
		& > div:nth-child(3){
			& > div > div {
				background-color: $primary !important;
			}
		}
		& > div:last-child{
			background-color: $primary !important;
		}
	}
}
.gmnoprint, .gm-fullscreen-control {
	display: none;
}